<div class="logo first"><a href="/"><img src="/img/dmvLogo.png" alt="DMV HOME" /></a></div>
<div class="subNav">
    <div class="login"><button>Log In</button></div>


    <div class="subLinks">
        <a href="">Create Account</a>
        <a href="">News</a>
        <a href="">About DMV</a>
        <a href="">Contact Us</a>
    </div>

</div>

<div class="search" ng-controller="SearchController">
    <form>
        <input type="text" name="search" ng-model="searchIn" placeholder="Search DMV"></input>
        <button blubtn ng-click="search()">Search</button>
    </form>
</div>

<div class="mainNavHold" data-ng-controller="MainNavigationController">


    <div class="mobMainNav mob">
        <select ng-model="color" ng-options="c.x for c in menuLinks">
            <option value="">Choose a service area</option>
        </select>
    </div>

    <div class="mainNav">
        <ul class="mainNavLinks" rest>
            <li ng-repeat="links in menuLinks.slice(0,8)"><a ng-click="next('{{links.link}}')">{{links.x}}</a></li>
        </ul>
    </div>


</div>