article.confirmation{
  ul{
    padding-top:0.5em;
    margin-top:0;
    li{
      list-style-type: none;
      line-height:2em;
    }
  }
  div.yInfo, div.bInfo, div.vInfo, div.details, div.radio{
    width:97%;
    margin:0 auto;
    ul{
      li.edit{
        text-align: right;
        margin-right:1em;
        a{
          cursor:pointer;
          color:$orange;
					text-decoration:underline;
        }
      }
    }
    h3{
      padding-left:1em;
      padding-top:1em;
    }
    border-bottom:1px solid #cccccc;
  }
	div.radio{
		border-bottom:none;
	}
  div.details{
    p{
      margin:1em;
    }
  }
  div.complete{

  }
}

@media screen and (min-width:758px){
  article.confirmation{
    div{
    padding:1em;
    div.yInfo, div.bInfo, div.vInfo, div.details{
      padding:0;
      min-height:19em;
      width:49%;
      float:left;
      margin-bottom:2%;
			border-bottom:none;
			border:1px solid #cccccc;
    }
			div.details{
				min-height:0;
			}
      div.vInfo{
        clear:left;
      }
			div.sec{
				clear:none;
				margin-left:1%;
			}
			div.gen{
				clear:left;
				margin-left:0;
			}
			div.sing{
				margin-left:0;
				width:99%;
			}
			div.radio{
				clear:left;
				padding-top:0;
				padding:0;
				width:100%;
				border-bottom:none;
			}
    }
  }
}

