div.formField{
	width:97%;
	margin:0 auto;
	padding:1em 0em;
	label{
		padding-bottom:0.5em;
	}
	p{
		background: none repeat scroll 0 0 transparent;
		color: #555555;
		font-size: 0.7em;
		margin-top: -0.5em;
	}
	input{
		padding-top:6px;
		padding-bottom:6px;
	}
	span.reqText{
		font-size:0.7em;
		font-weight:normal;
		margin-left:0.5em;
		
	}
}