div.formField{
	label,span.lab{
		padding-bottom:0.5em;
	}
	p,span.err{
		background: none repeat scroll 0 0 transparent;
		color: #555555;
		font-size: 0.7em;
		margin-top: -0.5em;
	}
	span.err{
		display:block;
	}
	input{
		padding-top:6px;
		padding-bottom:6px;
	}

	span.reqText{
		font-size:0.7em;
		font-weight:normal;
		margin-left:0.5em;
		
	}
	&.yesno{
		label.last{
			border-bottom:none;
		}
	}
	&.phoneThree{
		input{
			float:left;
			width:30%;
			margin-right:1%;
		}
		ul{
			padding:0;
			margin:0;
			clear:left;
			li{
				width:31%;
				display:inline-block;
			}
		}
	}
}
div.dob{
	background: #eeeeee;
	border:1px solid #ccc;
	border-radius:5px;
	width:99%;
	float:left;
	div.dobMonth, div.dobDay, div.dobCent, div.dobYear{
		width:24.6%;
		float:left;
		select{
			background:#ffffff;
		}
		&.dobYear{
			label{
				visibility:hidden;
			}
		}
	}
	div.dobMonth{
		margin-left:3px;
	}
}


@media screen and (min-width:758px){
	div.city, div.state, div.zip, div.make, div.model, div.year{
		width:32%;
		float:left;
		margin-left:2%;
	}
	div.state{
		select{
			width:98%;
		}
	}
	div.city,div.year{
		margin-left:0;
	}
	div.gen{
		 width:49%;
		 float:left;
		clear:left;
		 margin-left:0;
	 }
	div.sec{
		width:49%;
		margin-left:2%;
		float:left;
		clear:none;
	}
	div.radio, div.city{
		clear:left;
	}
	div.sing{
		width:100%;
		margin-left:0;
		clear:left;
		float:left;
		input{
			width:98%;
		}
		select{
			width:98%;
		}
		textarea{
			width:98%;
		}
		div.phoneThree{
			input{
				width:32%;
				margin-right:1%;
			}
		}
	}
	div.dob{
		width:94%;
	div.dobMonth, div.dobDay, div.dobCent, div.dobYear{
		width:23%;
	}
		div.dobMonth{
			margin-left:1em;
		}
	}

}














