div.formField{
	label{
		padding-bottom:0.5em;
	}
	p{
		background: none repeat scroll 0 0 transparent;
		color: #555555;
		font-size: 0.7em;
		margin-top: -0.5em;
	}
	input{
		padding-top:6px;
		padding-bottom:6px;
	}

	span.reqText{
		font-size:0.7em;
		font-weight:normal;
		margin-left:0.5em;
		
	}
	&.yesno{
		label.last{
			border-bottom:none;
		}
	}

}


@media screen and (min-width:758px){
	div.city, div.state, div.zip, div.make, div.model, div.year{
		width:32%;
		float:left;
		margin-left:2%;
	}
	div.state{
		select{
			width:98%;
		}
	}
	div.city,div.year{
		margin-left:0;
	}
	div.gen{
		 width:49%;
		 float:left;
		clear:left;
		 margin-left:0;
	 }

	div.sec{
		width:49%;
		margin-left:2%;
		float:left;
		clear:none;
	}
	div.radio, div.city{
		clear:left;
	}
	div.sing{
		width:100%;
		margin-left:0;
		clear:left;
		float:left;
		input{
			width:98%;
		}
		select{
			width:98%;
		}
		textarea{
			width:98%;
		}
	}
}














