h2.loaderText{
	float:none;
	display:block;
	width:45%;
	margin:0 auto;
	background: url('/img/spin.gif') no-repeat top right;
	padding-right: 1.5em;
	text-align:center;
	color:$blueDarker;
	&.err{
		padding-top:0;
	}
}

div.transaction{
	h2.loaderText{
		margin-top:3em;
		width:80%;
		background-position: center bottom;
		padding-right:0;
		height:100px;
	}
}


@media screen and (min-width:758px){
	h2.loaderText{
		width:20%;
	}
}
