ul.radioList{
		margin:0;
		padding:0;
	li{
		border:1px solid $cGray;
		background:#f1f1f1;
		font-size:1em;
		color:#333;
		cursor:pointer;
		overflow:hidden;
		label{
			padding:1em;
			background:$grayLighter;
			border-bottom:1px solid $cGray;
			&:last-child{
				border:none;
			}
			&:hover{
				cursor:pointer;
			}
			input{
				display:inline-block;
				float:left;
				background:none !important;
				margin-top:-2px;
			}
			&:hover{
			background:#FFF9D3;
		}
		span{
			display:inline-block;
			margin-left:0.5em;
			}
		}
	}
}



