article.g17
	div
		h3.formTitle Sample Knowledge Exams
		form(novalidate, name="form")
			p Pick an option below to test your knowledge.
			ul.radioList.menu
				li.f <a class='signs' data-ng-click="signs()">Driver's License: Part 1: Traffic Signs</a>
				li <a class='general' data-ng-click="general()">Driver's License: Part 2: General Knowledge</a>
				li <a class="motorcycle" ng-click="motorcycle()">Motorcycle License</a>
				li <a class="dealerSales" ng-click="dealerSales()">Dealer Salesperson License</a>
				li <a class="commercial" ng-click="commercial()">Commercial Driver's License</a>
				li <a class="dealerOperator" ng-click="dealerOperator()">Dealer/Operator License</a>
			portalcancel