<div class="mainContent">
	<div class="content singleContainer" style="overflow: hidden;padding-bottom:1em;">
		<h3>Contact Us - Step 3 of 3</h3>
		<div data-ng-show="verify && !err" ng-repeat="a in contact">
		<section class="cInfo">
		<h2>Please verify the following information:</h2>
		<div class="fir">
			<ul>
			<li><b>First Name:</b> {{a.suffix}} {{a.firstname}} {{a.lastname}}</li>
			<li data-ng-show="a.phone"><b>Phone:</b> {{a.phone}}</li>
			<li><b>Email:</b> {{a.email}}</li>
			<li data-ng-show="a.subject !== 'ot'"><b>Subject:</b> {{subj}}</li>
			<li><a><span ng-click="goTo('/StepOne')">Edit</span></a></li>
			</ul>
		</div>
		
		<div class="sec" data-ng-show="a.custnumber || a.title || a.vin || a.description">
		<ul>
			<li data-ng-show="a.title"><b>Vehicle Title:</b> {{a.title}}</li>
			<li data-ng-show="a.vin"><b>Vehicle Last Four VIN:</b> {{a.vin}}</li>
			<li data-ng-show="a.custnumber"><b>Customer Number</b> {{a.custnumber}}</li>
			<li data-ng-show="a.description" style="padding-right:0.5em;"><b>Message:</b> {{a.description}}</li>
			<li><a><span ng-click="goTo('/StepTwo')">Edit</span></a></li>
		</ul>
		
		</div>
		</section>
		<form novalidate name="form" style="clear:left;">
			<div class="formField yesNo" style="margin-top:0.3em;">
				<label>Response Requested?<span class="reqText">Required</span></label>
				<ul class="radioList">
					<li>
						<label ng-class="{selected:response === 'yes'}">
							<input type="radio" ng-model="response" required ng-change="addResponse(response)" name="response" value="yes">
							Yes </label>
					</li>
					<li>
						<label ng-class="{selected:response === 'no'}">
							<input type="radio" ng-model="response" required ng-change="addResponse(response)" name="response" value="no">
							No </label>
					</li>
				</ul>
			</div>
		</form>
		<div class="continue">
			<a ng-click="goTo('/StepTwo')">Back</a>
			<button ng-disabled="form.$invalid" data-ng-click="next()">
				Submit
			</button>
		</div>
		<h2 class="loaderText"  data-ng-show="isloading && !err" data-ng-animate="'fade'">Sending Information</h2>
		</div>
		
		<h2 class="loaderText err" style="background:none;" data-ng-show="err">{{err}}</h2>
		<portalcancel data-ng-show="!isloading"></portalcancel>
	</div>

</div>














<!--
<div class="formField yesNo" style="margin-top:0.3em;">
					<label>Recieve a copy of this form at: <span style="color:#0E3160;">{{mail}}</span></label>
				<ul class="radioList">
					<li>
						<label ng-class="{selected:getEmail === 'yes'}">
							<input type="radio" ng-model="getEmail" required data-ng-change="addEmail(getEmail)" name="getEmail" value="yes">
							Yes </label>
					</li>
					<li>
						<label ng-class="{selected:getEmail === 'no'}">
							<input type="radio" ng-model="getEmail" required data-ng-change="addEmail(getEmail)" name="getEmail" value="no">
							No </label>
					</li>
				</ul>

			</div>---->















