$gutter:percentage(12px/980px);
$siteWidth: percentage(980px/1024px);


$one: percentage(50px/980px);
$two: percentage(112px/980px);
$three: percentage(174px/980px);

$four: percentage(232px/980px);
$fourCol: percentage(200px/980px);
$sixCol: percentage(300px/980px);

$eight:percentage(478px/980px);


$five:percentage(298px/980px);
$six:percentage(360px/980px);
$seven:percentage(422px/980px);


$eightWithBorders:percentage((484px - 6px)/980px);


$nine:percentage(546px/980px);
$ten:percentage(608px/980px);
$eleven:percentage(670px/980px);
$twelve:percentage(732px/980px);
$thirteen:percentage(794px/980px);
$fourteen:percentage(856px/980px);
$fifteen:percentage(918px/980px);
$sixteen: $siteWidth;
$seventeen: 99%;




