header.dmvHeader{
	margin:0 auto;
	div.logo{
		float:left;
		img{
		}
	}
}


@media screen and (max-width:420px){
	div.logo{
		width:$seventeen;
		img{
			max-width:60%;
			display:block;
			margin:0 auto;
		}

	}
}
@media screen and (min-width:421px){
header.dmvHeader{
	div.logo{
		float:left;
		width:275px;
	}
}
}