header.dmvHeader{
	display:none;
}

header.dmvMobiHeader{
	@include compTitle;
	position:absolute;
	width:100%;
	height:auto;
	background:#cccccc;
	border-bottom:2px solid $blueLighter;
	padding-left:0;
	ul{
		padding:0;
		margin:0;
		li{
			list-style-type: none;
			display:inline-block;
			&:first-child{
				background:url("/img/mobiWeb.jpg")no-repeat;
				height:41px;
				width:146px;
				float:left;
				margin-left:-13px;
			}
			&.menu{
				background:url("/img/menu-icon.jpg")no-repeat;
				width:26px;
				height:19px;
				margin-top:13px;
				cursor:pointer;
			}
			&.search{
				background:url("/img/menu-icon.jpg")no-repeat;
				background-position:3px -26px;
				width:36px;
				height:28px;
				margin-right:1em;
				margin-top:8px;
				cursor:pointer;
			}
		}
	}

}

div.mobiSpace{
	height:45px;
}

div.mobi{
	width:94%;
	margin:0 auto;
	height:520px;
	background:#ffffff;
	border:2px solid $blueLighter;
	border-radius:5px;
	@include bottomShadowLight;
	div{
		overflow:hidden;
		ul{
			margin:0;
			padding:0;
			li{
				list-style-type: none;
				width:100%;
				border-bottom:1px solid #333;
				padding:13px;
				display:block;
				cursor:pointer;
				&:hover{
					background:#d7d7d7;
				}
			}
		}
	}
}




div.mobiSearch{
	width:94%;
	margin:0 auto;
	height:140px;
	background:#ffffff;
	border:2px solid $blueLighter;
	border-radius:0px 0px 5px 5px;
	@include bottomShadowLight;
	margin-bottom:1em;
	div{
		overflow:hidden;
		ul{
			margin:0;
			padding:0;
			li{
				list-style-type: none;
				width:100%;
				border:none;
				padding:13px;
				display:block;
				cursor:pointer;
				&:hover{
					background:none;
				}
				input{
					width:89%;
				}
				a{
					width:85%;
					display:block;
					text-align:center;
				}
			}
		}
	}
}



@media screen and (min-width:330px){
	header.dmvMobiHeader{
		ul{
			li{
				&:first-child{
				}
				&.menu{
					float:right;
					width:36px;
					margin-right:1em;
				}
				&.search{
					margin-left:2em;
				}
			}
		}
	}
		div.mobiSearch{
			div{
			ul{
				li{
					input{
						width:95%;
					}
					a{
						width:91%;
					}
				}
			}
			}
		}

}


@media screen and (min-width:758px){
	header.dmvHeader{
		display:block;
			div.logo{
				float:left;
				width:275px;
			}
	}
	header.dmvMobiHeader,div.mobi,div.mobiSearch,div.mobiSpace{
		display:none !important;
	}
}