header.dmvHeader{
	display:none;
}

header.dmvMobiHeader{
	position:fixed;
	width:100%;
	height:auto;
	background:#CCCCCC;
	border-bottom:2px solid $blueLighter;
	padding-left:0;
	z-index:8000;
	@include bottomShadowLight;
	padding:1em 0;
	ul{
		padding:0;
		margin:0;
		li{
			list-style-type: none;
			display:inline-block;
			&:first-child{
				background:url("/img/mobiWeb.jpg")no-repeat;
				height:41px;
				width:146px;
				float:left;
				margin-left:-13px;
				cursor:pointer;
			}
			&.menu{
				background:url("/img/menu-icon.jpg")no-repeat;
				width:26px;
				height:8px;
				margin-top:13px;
				cursor:pointer;
				padding-left:3em;
				padding-top:1em;
			}
			&.search{
				background:url("/img/menu-icon.jpg")no-repeat;
				background-position:3px -26px;
				width:62px;
				height:28px;
				margin-right:1em;
				margin-top:8px;
				cursor:pointer;
			}
		}
	}
}

div.mobiSpace{
	height:80px;
}

div.mobi{
	margin:0 auto;
	height:500px;
	background:#ffffff;
	border:2px solid $blueLighter;
	border-radius:0px 0px 5px 5px;
	@include bottomShadowLight;
	overflow:hidden;
	padding-top:13px;
	div{
		overflow:hidden;
		ul{
			margin:0;
			padding:0;
			li{
				list-style-type: none;
				width:100%;
				border-bottom:1px dotted $cGray;
				padding:13px;
				display:block;
				cursor:pointer;
				&:hover{
					background:$focusYellow;
				}
				&.active{
					background:#cccccc;
					color:#ffffff;
				}
				a{
					color:$blueDarker;
					font-weight:bold;
					text-decoration: none;
				}
			}
		}
	}
}

div.mobiSearch{
	//width:94%;
	margin:0 auto;
	height:140px;
	background:#ffffff;
	border:2px solid $blueLighter;
	border-radius:0px 0px 5px 5px;
	@include bottomShadowLight;
	margin-bottom:1em;
	div{
		overflow:hidden;
		ul{
			margin:0;
			padding:0;
			li{
				list-style-type: none;
				width:100%;
				border:none;
				padding:13px;
				display:block;
				cursor:pointer;
				&:hover{
					background:none;
				}
				input{
					width:89%;
				}
				a{
					width:85%;
					display:block;
					text-align:center;
				}
			}
		}
	}
}

@media screen and (max-width:230px){
	header.dmvMobiHeader{
		ul{
			li{
				&:first-child{
				}
				&.menu{
					float:right;
					width:36px;
					margin-right:1em;
				}
				&.search{
					margin-left:2em;
				}
			}
		}
	}
	div.mobiSpace{
		height:90px;
	}
	div.mobiSearch{
		div{
			ul{
				li{
					input{
						width:85%;
					}
					a{
						width:75%;
					}
				}
			}
		}
	}

}

@media screen and (min-width:301px){
	header.dmvMobiHeader{
		ul{
			li{
				&:first-child{
				}
				&.menu{
					float:right;
					width:36px;
				}
				&.search{
					margin-left:2em;
				}
			}
		}
	}
div.mobiSearch{
			div{
			ul{
				li{
					input{
						width:90%;
					}
					a{
						width:80%;
					}
				}
			}
			}
		}
}

@media screen and (min-width:480px){
	div.mobiSearch{
		div{
			ul{
				li{
					input{
						width:96%;
					}
					a{
						width:90%;
					}
				}
			}
		}
	}
}

@media screen and (min-width:758px){

	header.dmvHeader{
		display:block;
		margin:0 auto;
		div.social{
			float:right;
			ul{
				padding:0;
				margin:0;
				li{
					list-style-type: none;
					background:url('/img/socis.png') no-repeat;
					height:40px;
					width:38px;
					cursor: pointer;
					display:inline-block;
					&.face{
						background-position:-3px -4px;
						&:hover{
							background-position:-4px -209px;
						}
					}
					&.mobile{
						background-position:-3px -43px;
						&:hover{
							background-position:-4px -248px;
						}
					}
					&.yt{
						background-position:-3px -83px;
						&:hover{
							background-position:-4px -288px;
						}
					}
					&.tw{
						background-position:-3px -122px;
						&:hover{
							background-position:-4px -327px;
						}
					}
					&.rs{
						background-position:-3px -162px;
						&:hover{
							background-position:-4px -367px;
						}
					}
				}
			}
		}
			div.logo{
				float:left;
				width:275px;
				a{
					cursor: pointer;
				}
			}
		div.mainNav{
			ul{
				li{
					a{
						text-decoration:none;
					}
				}
			}
		}
	}
	header.dmvMobiHeader,div.mobi,div.mobiSearch,div.mobiSpace{
		display:none !important;
	}
}