div.mobMainNav{
	width:93%;
	margin:0 auto;
	clear:both;
	margin-top:1em;
	@include bottomShadowLight;
	box-shadow:none !important;
	border-radius:3px;
	select{
		width:100%;
		height:2em;
		padding-top:0.3em;
		padding-bottom: 0.3em;
		font-size:16px;
		padding-right:0.5em;
		border-radius:3px;
		border-right:1px solid #CCCCCC;
		box-shadow:none !important;
		outline: none;
		option{
			padding-bottom: 0.5em;
			border:none;
			outline: none;
			box-shadow:none !important;
			padding-top:0.5em;
			&:first-child{
				color:#777;
			}
		}
	}
}