header.dmvHeader{
div.subNav{
	clear:left;
	width:$seventeen;
	padding-bottom:1em;
div.login{
	text-align:center;
	button{
	width:$thirteen;
	}
}
div.subLinks{
	display:none;
	a{
		color:$blueDarker;
		text-decoration: none;
	}
}
div.search{
	ul{
		margin:0;
		padding:0;
		li{
			list-style-type: none;
			input{
				display:block;
				width:$thirteen;
				margin:0 auto;
				height:1.5em;
				margin-top:1em;
				float:none;
			}
			a.bluBtn{
				width:$thirteen;
				display:block;
				margin:0 auto;
				margin-top:0.5em;
				cursor:pointer;
			}
		}
	}


}
}
}




@media screen and (min-width:430px){
	header.dmvHeader{
	div.login{
		float:left;
		margin-top:2em;
		button{
			width:auto !important;
		}
	}
	div.subNav{
		clear:none;
		clear:both;
		margin-right:$gutter;
		div.subLinks{
			display:block;
			clear:left;
			overflow:auto;
			margin-top:0.5em;
			float:left;
			a{
				margin-right:0.5em;
			}
		}
		div.search{
			text-align:right;
			ul{
				margin:0;
				padding:0;
				li{
					list-style-type: none;
					display:inline-block;
					input{
						width:70%;
						float:right;
						margin-right:1em;
					}
					a{
						float:right;
					}
					&:first-child{
						width:50%;
					}
				}
			}
		}
	}
	}
}

@media screen and (min-width:758px){
	header.dmvHeader{
		div.subNav{
			width:60%;
			float:right;
			clear:none;
		}
	}
	}


@media screen and (min-width:1016px){
	header.dmvHeader{
		div.subNav{
			clear:none;
			width:70%;
			float:right;
			margin-right:$gutter;
		}
	}
}


@media screen and (min-width:1575px){
	header.dmvHeader{
		div.subNav{
			clear:none;
			width:80%;
			float:right;
			margin-right:$gutter;
		}
	}
}




















