article{
	&.comp, &.comp1, &.comp2, &.comp3, &.comp4,&.comp5,&.comp6,&.comp7,&.comp9,&.comp10{
		height:26em;
		overflow:hidden;
		h3{
			background: linear-gradient(to bottom, #EEEEEE 0%, #BEC1C2 78%) repeat scroll 0 0 rgba(0, 0, 0, 0);
			border-bottom: 1px solid #ACCBE0;
			box-shadow: 0 2px 2px #999999;
			color: #1F4F80;
			font-size: 1.3em;
			line-height: 1.3em;
			padding-top: 0.3em;
			text-shadow: 0 1px 0 #EEEEEE;
			text-align:center;
		}
		ul{
			margin:0;
			padding:0;
			margin:1em;
			li{
				list-style-type: none;
				a{
					color:$blueDarker;
					text-decoration:none;
					display:block;
					padding:0.2em;
					&.orgBtn{
						width:3em;
						float:right;
						margin-bottom:6px;
						font-size:0.875em;
						padding-left:10px;
					}
				}
			}
		}
	}
}



@media screen and (min-width:758px){

}

/*


<li>
<a class="" href="https://www.dmv.virginia.gov/dmvnet/plate_purchase/intro.asp">Plate Purchase</a>
</li>
*/