article{
	&.comp, &.comp1, &.comp2, &.comp3, &.comp4,&.comp5,&.comp6,&.comp7,&.comp9,&.comp10,&.news{
		height:26em;
		overflow:hidden;
		h3{
			@include compTitle;
		}
		ul{
			margin:0;
			padding:0;
			margin:1em;
			li{
				list-style-type: none;
				a{
					color:$blueDarker;
					text-decoration:none;
					display:block;
					padding:0.2em;
					border-bottom:1px dotted #eeeeee;
					&:hover{
						background:#eeeeee;
					}
				}
				a.orgBtn{
					width:3em;
					float:right;
					margin-bottom:6px;
					font-size:0.875em;
					padding-left:10px;
					border-bottom:2px solid $blueLighter;
					&:hover{
						@include orangeToLight;
					}
				}
			}
		}
	}
}


@media screen and (max-width:758px){
	article{
		&.comp, &.comp1, &.comp2, &.comp3, &.comp4,&.comp5,&.comp6,&.comp7,&.comp9,&.comp10{
			height:27em;
		}

	}
}

@media screen and (max-width:300px){
	.comp1 div, .comp2 div, .comp3 div, .comp4 div, .comp5 div{
		display:none;
	}
	article.dmvHome{
		article.slider{
			display:none;
		}
	}

}

/*


<li>
<a class="" href="https://www.dmv.virginia.gov/dmvnet/plate_purchase/intro.asp">Plate Purchase</a>
</li>
*/