article{
	&.comp, &.comp1, &.comp2, &.comp3, &.comp4,&.comp5,&.comp6,&.comp7,&.comp9,&.comp10{
		height:26em;
		overflow:hidden;
		h3{
			@include compTitle;
		}
		ul{
			margin:0;
			padding:0;
			margin:1em;
			li{
				list-style-type: none;
				a{
					color:$blueDarker;
					text-decoration:none;
					display:block;
					padding:0.2em;
					&.orgBtn{
						width:3em;
						float:right;
						margin-bottom:6px;
						font-size:0.875em;
						padding-left:10px;
					}
				}
			}
		}
	}
}



@media screen and (min-width:758px){

}

/*


<li>
<a class="" href="https://www.dmv.virginia.gov/dmvnet/plate_purchase/intro.asp">Plate Purchase</a>
</li>
*/