article.homeTabs{
	background:none;
	border:none;
	box-shadow:none;
	div.tabs{
		ul{
			padding:0;
			margin:0;
			li{
				list-style-type: none;
				display: inline-block;
				margin-right:0.3em;
				border-radius:3px 3px 0px 0px;
				@include blueToLight;
				a{
					display:block;
					text-decoration: none;
					padding:5px 2px;
					color:#FFFFFF;
				}
				&:first-child{
					margin-left:5px;
				}
				&:hover{
					@include orangeToLight;
				}
				&.active{
					@include orangeToLight;
				}
			}
		}
	}
	div.tabContent{
		margin-top:0;
		width:100%;
		height:23.7em;
		border:2px solid $blueLighter;
		@include bottomShadowLight;
		border-radius:5px;
		background:#FFFFFF;
		h2.loaderText{
			width:100%;
			text-align: center;
			height:50px;
		}
		h2.errr{
			text-align:center;
		}
		div.selectHolder{
			margin-top:0.5em;
			margin-left:0.5em;
			select{
				padding:0;
				height:1.5em;
			}
		}
		div.noMap{
			visibility:hidden;
			//height:0;
		}
		div.noMap{
			visibility:visible;
			//height:auto;
		}
		div#map_canvas{
			height:275px;
			margin:3px;
			div.infoBox{
				border: 1px solid #333333;
				font-weight:bold;
				text-align:center;
				font-size:0.8em;
				border-radius:5px;
				background: #CCC;
				padding: 5px;
				br{
					display:block;
					margin-bottom:-5px;
				}
				a{
					text-decoration: none;
					color:#000000;
					font-size:1.3em;
				}
			}
		}
		div.notices{
			padding:1em;
			overflow-y:auto;
			height:19em;
			h3{
				cursor:pointer;
				margin:0;
				padding:0;
				font-size:1em;
				color:$blueDarker;
			}
			p{
				margin-top:0;
			}
		}
		div.noticesDetails{
			padding:1em;
		}
		div.twoGo{
			overflow-y:auto;
			overflow-x:hidden;
			height:22em;
			div.day{
				width:100%;
				float:left;
				margin-bottom:1em;
				border-top:1px dotted #CCCCCC;
				padding:0.5em;

			}
			div.calHolder{
			float:left;
			width:65px;
			background:#eee;
			height:75px;
			box-shadow: 0px 3px 3px #333;
			border-radius:8px;
				margin-top:1em;
			ul{
				list-style-type: none;
				padding:0;
				margin:0;
				li{
					width:100%;
					margin:0;
					padding:0;
					text-align:center;
					border-radius:10px 10px 0px 0px;
				}
				li:first-child{
					background:#FF8116;
					@include orangeToLight;
					font-size:0.8em;
					color:#fff;
				}
				li.day{
					font-size:2em;
					font-size:1.8em;
					font-weight:bold;
				}
			}
		}
			div.theEvents{
				margin-top:1em;
				background:#f2f2f2;
				padding:1em 0;
			}

			table{
			margin-left:100px;
				padding:1em;
				th{
					a{
						color:$blueDarker;
						font-size:1em;
						text-decoration:none;
					}
				}
				tr{
					text-align:left;
					td{
						a{
							color:#333333;
							line-height:1.8em;
						}
						span{
							display:block;
							margin-top:0.5em;
							color:#777777;
						}
					}
				}
			}
		}
		.odd {
			background: #f0f0f0;
			//margin-top:1em;
			padding: 0.5em;a{
			text-decoration: none;
		}

		}
		.even {
			//background: #fff;
			//margin-top:1em;
			padding: 0.5em;a{
			text-decoration: none;
		}
		}
		div.details{
			padding:1em;
			overflow:hidden;
			overflow-y:auto;
			height:19em;
			div.img{
				text-align: center;
				float:left;
				width:45%;
				cursor: pointer;
				a{
					clear:left;
					display:block;
					cursor:pointer;
					&:last-child{
						margin-top:2em;
					}
				}
			}
			div.det{
				float:right;
				width:48%;
			h2{
				text-align:left;
				font-size:1.3em;
				padding-top:0;
				padding-bottom:0;
				margin:0;
				&.name{
					padding-bottom:1em;
				}
			}
			p{
				float:left;
			}
			ul{
				padding:0;
				margin:0;
				li{
					list-style-type: none;
				}
			}
			br{
				display:block;
			}
			}

		}
		div.moving{
			padding:0 1em 1em 1em;
			h1{
				font-size:1.5em;
				color:$blueDarker;
			}
			ul{
				li{
					line-height:2em;
					list-style-type:none;
					a{
						color:$blueDarker;
					}
				}
			}
		}
		h2{
			text-align:center;
			color:$blueDarker;
			&.loaderText{
				margin-top:1em;
				padding-right:0;
				padding-bottom:2em;
				background-position:bottom;

			}
		}
	}
}

article.news{
	div{
		padding:0em 1em;
		&.sp{
			padding-top:1em;
		}
		h1{
			font-size:1em;
			color:$blueDarker;
			padding:0;
			margin:0;
			cursor:pointer;
		}
		p{
			margin-top:0;
		}
	}
}

@media screen and (min-width:758px){
	article.news{
		width:$seventeen;
	}
}

@media screen and (min-width:1016px){
	article.news{
		width:$eightWithBorders;
	}
}

@media screen and (max-width:300px){
	article.homeTabs{
		display:none;
	}
}

@media screen and (min-width:900px){
	article.homeTabs{
		div.tabs{
		ul{
			li{
				a{
					padding:5px 5px;
				}
			}
		}
		}
	}
}








