
<article class="g17">
  <div class="disclaimer">
    <h3 class="formTitle">Thanks for Contacting the DMV</h3><p>Your email has been submitted. DMV relies on the public to help with investigating odometer
fraud and appreciates you taking the time to make a complaint. Your ticket number for your reference is <em>{{ref}}</em>.
Please include the reference number in all correspondence regarding this complaint. Be sure to print this receipt for your records.
Submission Confirmation – Odometer Fraud Complaint</p>
<p><strong>ADDITIONAL QUESTIONS</strong></p>
<p> If you have additional questions, need help preparing this form, or have attachments,
 contact DMV at:</p>
<ul>
<li>(804) 367-1678 or (804) 367-1997 (voice)</li>
<li>(804) 367-8087 (fax)</li>
<li>(800) 272-9268 (deaf or hearing impaired ONLY)</li>
<li><a href="mailTo://enforcement@dmv.virginia.gov">enforcement@dmv.virginia.gov</a></li>
</ul>

    <p class="address">Send correspondence to:</p>
    <ul>
      <li>	Virginia Department of Motor Vehicles</li>
      <li>	Law Enforcement </li>
      <li>	2300 West Broad Street, Room 629</li>
      <li>	Richmond, VA  23269-0001</li>
    </ul>
    <div class="continue">
      <div btn="btn" act="All Online Services"></div>
    </div>
  </div>
</article>