
<article class="g17 confirmation">
  <h3 class="formTitle">Please verify the following information</h3>
  <div>
    <div data-ng-repeat="a in theData" data-ng-show="a.firstname" class="yInfo">
      <h3>Your Information</h3>
      <ul>
        <li><b>Your Name:</b> {{a.firstname}} {{a.lastname}}</li>
        <li><b>Your Address:</b> {{a.address}}, {{a.city}}, {{a.state}}, {{a.zip}}</li>
        <li><b>Your Email:</b> {{a.email}}</li>
        <li><b>Phone:</b> {{a.phone}}</li>
        <li><b>Contact Preference:</b> {{a.conPref}}</li>
        <li data-ng-show="!isloading" class="edit"><a data-ng-click="edit('StepTwo')"> Edit </a></li>
      </ul>
    </div>
    <div data-ng-repeat="a in theData" class="bInfo {{vary}}">
      <h3>Company Information</h3>
      <ul>
        <li><b>Company/Suspect Name:</b> {{a.compName}}</li>
        <li data-ng-show="a.compAddress || a.compCity || a.compState || a.compZip"><b>Company Address:</b> {{a.compAddress}}, {{a.compCity}}, {{a.compState}}, {{a.compZip}}</li>
        <li data-ng-show="a.compEmail"><b>Company Email:</b> {{a.compEmail}}</li>
        <li data-ng-show="a.compPhone"><b>Company Phone:</b> {{a.compPhone}}</li>
        <li data-ng-show="!isloading" class="edit"><a data-ng-click="edit('StepFour')"> Edit </a></li>
      </ul>
    </div>
    <div data-ng-repeat="a in theData" data-ng-show="a.year || a.make || a.model || a.vin" class="vInfo">
      <h3>Vehicle Information</h3>
      <ul>
        <li data-ng-show="a.year"><b>Year:</b> {{a.year}}</li>
        <li data-ng-show="a.make"><b>Make:</b> {{a.make}}</li>
        <li data-ng-show="a.model"><b>Model:</b> {{a.model}}</li>
        <li data-ng-show="a.vin"><b>Last Four of VIN:</b> {{a.vin}}</li>
        <li data-ng-show="a.plate"><b>License Plate:</b> {{a.plate}}</li>
        <li data-ng-show="a.prmColor"><b>Primary Color:</b> {{a.prmColor}}</li>
        <li data-ng-show="a.secColor"><b>Secondary Color:</b> {{a.secColor}}</li>
        <li data-ng-show="!isloading" class="edit"><a data-ng-click="edit('StepFive')"> Edit </a></li>
      </ul>
    </div>
    <div data-ng-repeat="a in theData" class="details {{vary2}}">
      <h3>Details</h3>
      <p>{{a.details}}</p>
      <ul>
        <li data-ng-show="!isloading" class="edit"><a data-ng-click="edit('StepSix')"> Edit </a></li>
      </ul>
    </div>
    <div class="continue">
      <div btn="btn" act="Submit"></div>
      <div loader="loader"></div>
    </div>
  </div>
</article>