
<article class="g17">
  <div>
    <h3 class="formTitle">Complainant/Victim Information</h3>
    <form novalidate="novalidate" name="form">
      <div firstname="firstname" req="req" class="formField firstName"></div>
      <div lastname="lastname" req="req" class="formField lastName"></div>
      <div address="address" req="req" class="formField address"></div>
      <div city="city" req="req" class="formField city"></div>
      <div states="states" req="req" class="formField state"></div>
      <div zip="zip" req="req" class="formField zip"></div>
      <div class="continue">
        <div btn="btn" act="Continue"></div>
      </div>
      <portalcancel></portalcancel>
    </form>
  </div>
</article>