
<article class="g17">
  <div>
    <h3 class="formTitle">Vehicle Information</h3>
    <form novalidate="novalidate" name="form">
      <div year="year" req="req" class="formField year"></div>
      <div make="make" req="req" class="formField make"></div>
      <div model="model" req="req" class="formField model"></div>
      <div vin="vin" req="req" class="formField vin"></div>
      <div plate="plate" req="req" class="formField plate"></div>
      <div pcolor="pcolor" req="req" class="formField prmColr"></div>
      <div scolor="scolor" class="formField secColr"></div>
      <div class="continue">
        <div btn="btn" act="Continue"></div>
      </div>
      <portalcancel></portalcancel>
    </form>
  </div>
</article>