
<article class="g17">
  <div>
    <h3 class="formTitle">Odometer Fraud - Company Information <span>(provide as much information as possible)</span></h3>
    <form novalidate="novalidate" name="form">
      <div compname="compname" req="req" class="formField companyName gen"></div>
      <div address="address" class="formField address gen sec"></div>
      <div city="city" class="formField city"></div>
      <div states="states" num="four" class="formField state"></div>
      <div zip="zip" class="formField zip"></div>
      <div email="email" class="formField email gen"></div>
      <div phone="phone" class="formField phone sec"></div>
      <div class="continue">
        <div btn="btn" act="Continue"></div>
      </div>
      <portalcancel></portalcancel>
    </form>
  </div>
</article>