
<article class="g17">
  <div>
    <h3 class="formTitle">Vehicle Information <span>(provide as much information as possible)</span></h3>
    <form novalidate="novalidate" name="form">
      <div year="year" class="formField year"></div>
      <div make="make" class="formField make"></div>
      <div model="model" class="formField model"></div>
      <div vin="vin" class="formField vin gen"></div>
      <div plate="plate" class="formField plate sec"></div>
      <div pcolor="pcolor" class="formField prmColr gen"></div>
      <div scolor="scolor" class="formField secColr sec"></div>
      <div class="continue">
        <div btn="btn" act="Continue"></div>
      </div>
      <portalcancel></portalcancel>
    </form>
  </div>
</article>