
<article class="g17">
  <div>
    <h3 class="formTitle">Vehicle Information <span>(provide as much information as possible)</span></h3>
    <form novalidate="novalidate" name="form">
      <div year="year" class="formField year"></div>
      <div make="make" class="formField make"></div>
      <div model="model" class="formField model"></div>
      <div vin="vin" class="formField vin gen"></div>
      <div plate="plate" class="formField plate sec"></div>
      <div cal="cal" title="When did you notice the violation?" class="formField cal gen"></div>
      <div opts="opts" type="learned" title="How did you learn of the violation?" options="Personal Contact,Internet,Flyer/Poster,Social Media,Word of Mouth,Other,N/A" class="formField opts sec"></div>
      <div class="continue">
        <div btn="btn" act="Continue"></div>
      </div>
      <portalcancel></portalcancel>
    </form>
  </div>
</article>