article.g17.dmvHome
	article.g4.first.comp1
		h3 Online Services
		ul
			li: a(href='https://www.dmv.virginia.gov/dmvnet/registration/regist_entry.asp') Vehicle Registration Renewal
			li: a(href="https://www.dmv.virginia.gov/dmvnet/address/intro.asp") Address Change
			li: a(href="https://www.dmv.virginia.gov/dmvnet/drivers_license/intro.asp") Driver's License Renewal
			li: a(href="https://www.dmv.virginia.gov/dmvnet/veh_sld_trd/intro.asp") Report a Vehicle Sold / Traded
			li: a(href="https://www.dmv.virginia.gov/dmvnet/drivers_license_replacement/intro.asp") Driver's License Replacement
			li: a(href="https://www.dmv.virginia.gov/dmvnet/plate_purchase/intro.asp") Plate Purchase
			li: a.orgBtn(href="#/OnlineServices") All
		div
	article.g4.comp2
		h3 Driver/ID Services
		ul
			li: a(href="#/drivers:applying") Applying for a Driver's License
			li: a(href="/drivers/#points_assess.html") Points and Violations
			li: a(href="/ske/") Sample Knowledge Exams
			li: a(href="/drivers/#medical/index.html") Medical Information
			li: a(href="/drivers/#applyingcdl.html") Applying for a Commercial Driver’s License
			li: a(href="/drivers/#id/adult_id.html") Adult ID Cards
			li: a.orgBtn(href="/") All
		div
	article.g4.second.comp3
		h3 Vehicle Services
		ul
			li: a(href="/vehicles/#titling.html") Titling a Vehicle in Virginia
			li: a(href="/vehicles/#vehiclereg.html") Registration Information
			li: a(href="https://www.dmv.virginia.gov/dmvnet/ins_mon/entry.asp") Insurance Verification
			li: a(href="/drivers/#disability/plates_assist.html") Disabled Placards & Plates
			li: a(href="/vehicles/#selling.html") Selling / Donating a Vehicle
			li: a.orgBtn(href="/") All
		div
	article.g4.comp4
		h3 Commercial Services
		ul
			li: a(href="/commercial/#mcs/programs/index.html") Motor Carriers
			li: a(href="/commercial/#ez_fleet.html") EZ Fleet
			li: a(href="/commercial/#mcs/webcat.html") webCAT
			li: a(href="/commercial/#dealer/index.html") Dealer Services
			li: a(href="/commercial/#mcs/weigh/index.html") Size and Weight Enforcement
			li: a(href="/commercial/#odealer/index.html") Online Dealer
			li: a.orgBtn(href="/") All
		div
	article.g8.first.homeTabs
		div.tabs
			ul
				li(data-ng-class="{ active: activePath=='/Locations'}"): a(href="",data-ng-click="tab('Locations')") Locations
				li(data-ng-class="{ active: activePath=='/Notices' }"): a(href="",data-ng-click="tab('Notices')") Notices
				li(class="m",data-ng-class="{ active: activePath=='/DMV2Go' }"): a(href="",data-ng-click="tab('dmvgo')") DMV 2 Go
				li(data-ng-class="{ active: activePath=='/Moving' }"): a(href="",data-ng-click="tab('moving')") Moving?
				li(class="m",data-ng-class="{ active: activePath=='/WhatsNew' }"): a(href="",data-ng-click="tab('new')") What's New
		div.tabContent
			h2.loaderText(data-ng-show="isloading && !isError") Loading...
			h2.error(data-ng-show="isError") Sorry, this information is currently unavailable
			div(data-ng-hide="isloading || isError || activePath !== '/Locations'")
				div.selectHolder(data-ng-show="activePath=='/Locations' && !isloading && !isError",style="position:absolute;z-index:3000;overflow:auto;")
					div.formField.mapSelect
						select(data-ng-model="name",data-ng-options="c.name for c in colors",data-ng-change="update()")
							option(value="") select location
				div(style="style=width:500px;height:0px;margin:3px;")
					div(id="map_canvas" ,ui-map="myMap",ui-options="mapOptions")

			div.details(data-ng-show="activePath=='/Details' && !isloading",data-ng-model='d')
				img(src="{{srrc}}")
				ul
					li(style="margin-bottom:0.5em;") {{d.OFFICENAME}} {{status}}
					li(style="margin-bottom:0.5em;") Current Wait: {{d.WAIT}}
					li(style="margin-bottom:0.5em;") {{d.OFFICEADDRESS}}
					li(data-ng-bind-html="d.OFFICEHOURS")
					li(style="padding-top:2em;"): a(href="https://maps.google.com/?q={{d.OFFICEADDRESS}}", data-ng-hide="d.ID === '76'") Click here for driving directions
					li: a(href="",data-ng-click="tab('Locations')") << Return to map

			div.notices(data-ng-show="activePath=='/Notices' && !isloading && !isError")
				h2(data-ng-show="noNotices && !isloading") There are currently no notices.
				div(data-ng-class-odd="'odd'", data-ng-class-even="'even'", data-ng-repeat='importantNotice in importantNotices')
					h3(class="{{importantNotice.HIGHLIGHT}}",data-ng-click="check(importantNotice.TYPE,importantNotice.LINK)",data-ng-href="{{importantNotice.link}}") {{importantNotice.TITLE}}
					p{{importantNotice.INTRO_TEXT}}
			div.noticesDetails(data-ng-show="activePath=='/Notice' && !isloading", data-ng-model="notice")
				h2(data-ng-show="noData && !isloading") This record does not exist.
				h2 {{title}}
				p(data-ng-show="notice && !isloading") {{notice.MSG}}


			div.twoGo(data-ng-show="activePath=='/DMV2Go' && !isloading")
				h2(data-ng-show="noEvents") There are no visits planned.
				div(style="padding-top:1em;")

					div.day(data-ng-show="dayOneEvents")
						div(day,events="dayOne")
						div.theEvents(eventlist,data-ng-repeat="event in dayOneEvents")

					div.day(data-ng-show="dayTwoEvents")
						div(day,events="dayTwo")
						div.theEvents(eventlist,data-ng-repeat="event in dayTwoEvents")

					div.day(data-ng-show="dayThreeEvents")
						div(day,events="dayThree")
						div.theEvents(eventlist,data-ng-repeat="event in dayThreeEvents")

					div.day(data-ng-show="dayFourEvents")
						div(day,events="dayFour")
						div.theEvents(eventlist,data-ng-repeat="event in dayFourEvents")

					div.day(data-ng-show="dayFiveEvents")
						div(day,events="dayFive")
						div.theEvents(eventlist,data-ng-repeat="event in dayFiveEvents")

					div.day(data-ng-show="daySixEvents")
						div(day,events="daySix")
						div.theEvents(eventlist,data-ng-repeat="event in daySixEvents")
					a(style="text-decoration:underline;float:right;margin-right:2em;margin-top:1.2em;",href="/general/#dmv_2go.html") Full <span class="emphasis">DMV 2 Go Calendar</span>

			div.moving(data-ng-show="activePath=='/Moving' && !isloading")
				h1 On the Go? Here's What You Need to Know.
				ul
					li: a(href="") New to Virginia
					li: a(href="") Leaving Virginia
					li: a(href="") Moving Within Virginia
					li: a(href="") Temporarily Outside of Virginia
			div.whatsnew(data-ng-show="activePath=='/WhatsNew' && !isloading")
				h2(data-ng-show="noData && !isloading") There are currently no notices.
				div(data-ng-class-odd="'odd'", data-ng-class-even="'even'", data-ng-repeat='new in whatsNew')
					p{{importantNotice.INTRO_TEXT}}
	article.g8.sec.slider
		div.flexslider
			ul.slides
				li(moped)
				li(diesel)
				li(grandad)
	article.g4.first.comp5
		h3 Highway Safety
		ul
			li: a(href='http://www.dmv.virginia.gov/safety/#crash_data/index.html') Create Your Own Crash Facts Report
			li: a(href="http://www.dmv.virginia.gov/safety/crash_data/mapping/") Try Our Interactive Crash Map
			li: a(href="/safety/#programs/index.html") Safety Programs
			li: a(href="/safety/#resources/all_multimedia.html") Multimedia
			li: a.orgBtn(href="/") All
		div
	article.g4.sec.comp6
		h3 Other
		ul
			li: a(href='https://www.dmv.virginia.gov/dmvnet/registration/regist_entry.asp') Vehicle Registration Renewal
			li: a(href="https://www.dmv.virginia.gov/dmvnet/address/intro.asp") Address Change
			li: a(href="https://www.dmv.virginia.gov/dmvnet/drivers_license/intro.asp") Driver's License Renewal
			li: a(href="https://www.dmv.virginia.gov/dmvnet/veh_sld_trd/intro.asp") Report a Vehicle Sold / Traded
			li: a(href="https://www.dmv.virginia.gov/dmvnet/drivers_license_replacement/intro.asp") Driver's License Replacement
			li: a(href="https://www.dmv.virginia.gov/dmvnet/plate_purchase/intro.asp") Plate Purchase
			li: a.orgBtn(href="/") All
		div
	article.g8.second.news(data-ng-controller="NewsController")
		h3 News
		h2(data-ng-show="noNews && !isloading") There are currently no notices.
		div.sp
		div(data-ng-class-odd="'odd'", data-ng-class-even="'even'", data-ng-repeat='news in News')
			h1: a(data-ng-click="next(news.ID)") {{news.TITLE}}
			p {{news.INTRO_TEXT}}
	div(scroller) Return to Top

