article.g17.onlineServices
	article.g4.first.comp1
		h3 myDMV Account
		ul
			li: a(href='https://www.dmv.virginia.gov/dmvnet/customerprofile/details.aspx') View Your Account
			li: a(href='https://www.dmv.virginia.gov/dmvnet/pin_maint/pin_notify.aspx') Sign Up for Email and Phone Reminders
			li: a(href="https://www.dmv.virginia.gov/dmvnet/pin_maint/pin_setup.aspx") Create Account
			li: a(href="https://www.dmv.virginia.gov/dmvnet/pin_maint/pin_challenge.aspx") Forgot Your PIN?
			li: a(href="https://www.dmv.virginia.gov/dmvnet/pin_maint/pin_logon.aspx") Activate Account
			li: a(href="https://www.dmv.virginia.gov/dmvnet/done_online/intro.asp") What Have I Done Online?
			li: a(href="https://www.dmv.virginia.gov/about/#demo.asp") Practice Online Transactions
	article.g4.comp2
		h3 Vehicle Services
		ul
			li: a(href="https://www.dmv.virginia.gov/dmvnet/registration/regist_entry.asp") Vehicle Registration Renewal
			li: a(href="https://www.dmv.virginia.gov/dmvnet/ins_mon/entry.asp") Insurance Verification
			li: a(href="https://www.dmv.virginia.gov/dmvnet/plate_purchase/intro.asp") Plate Purchase
			li: a(href="https://www.dmv.virginia.gov/dmvnet/veh_sld_trd/intro.asp") Report a Vehicle Sold or Traded
			li: a(href="https://www.dmv.virginia.gov/dmvnet/souvenir_plate/intro.asp") Souvenir Plate Orders
			li: a(href="https://www.dmv.virginia.gov/dmvnet/title_replacement/intro.asp") Title Replacement
		div
	article.g4.second.comp3
		h3 Driver/ID Services
		ul
			li: a(href="/vehicles/#titling.html") Titling a Vehicle in Virginia
			li: a(href="/vehicles/#vehiclereg.html") Registration Information
			li: a(href="https://www.dmv.virginia.gov/dmvnet/ins_mon/entry.asp") Insurance Verification
			li: a(href="/drivers/#disability/plates_assist.html") Disabled Placards & Plates
			li: a(href="/vehicles/#selling.html") Selling / Donating a Vehicle
	article.g4.comp4
		h3 Compliance Services
		ul
			li: a(href="/commercial/#mcs/programs/index.html") Motor Carriers
			li: a(href="/commercial/#ez_fleet.html") EZ Fleet
			li: a(href="/commercial/#mcs/webcat.html") webCAT
			li: a(href="/commercial/#dealer/index.html") Dealer Services
			li: a(href="/commercial/#mcs/weigh/index.html") Size and Weight Enforcement
			li: a(href="/commercial/#odealer/index.html") Online Dealer
	article.g4.first.comp5
		h3 Trucking Services
		ul
			li: a(href='https://www.dmv.virginia.gov/dmvnet/registration/regist_entry.asp') Vehicle Registration Renewal
			li: a(href="https://www.dmv.virginia.gov/dmvnet/address/intro.asp") Address Change
			li: a(href="https://www.dmv.virginia.gov/dmvnet/drivers_license/intro.asp") Driver's License Renewal
			li: a(href="https://www.dmv.virginia.gov/dmvnet/veh_sld_trd/intro.asp") Report a Vehicle Sold / Traded
			li: a(href="https://www.dmv.virginia.gov/dmvnet/drivers_license_replacement/intro.asp") Driver's License Replacement
			li: a(href="https://www.dmv.virginia.gov/dmvnet/plate_purchase/intro.asp") Plate Purchase
	article.g4.comp6
		h3 Permit Services
		ul
			li: a(href='https://www.dmv.virginia.gov/dmvnet/registration/regist_entry.asp') Vehicle Registration Renewal
			li: a(href="https://www.dmv.virginia.gov/dmvnet/address/intro.asp") Address Change
			li: a(href="https://www.dmv.virginia.gov/dmvnet/drivers_license/intro.asp") Driver's License Renewal
			li: a(href="https://www.dmv.virginia.gov/dmvnet/veh_sld_trd/intro.asp") Report a Vehicle Sold / Traded
			li: a(href="https://www.dmv.virginia.gov/dmvnet/drivers_license_replacement/intro.asp") Driver's License Replacement
			li: a(href="https://www.dmv.virginia.gov/dmvnet/plate_purchase/intro.asp") Plate Purchase
	article.g4.second.comp7
		h3 Payments and Refunds
		ul
			li: a(href='https://www.dmv.virginia.gov/dmvnet/registration/regist_entry.asp') Vehicle Registration Renewal
			li: a(href="https://www.dmv.virginia.gov/dmvnet/address/intro.asp") Address Change
			li: a(href="https://www.dmv.virginia.gov/dmvnet/drivers_license/intro.asp") Driver's License Renewal
			li: a(href="https://www.dmv.virginia.gov/dmvnet/veh_sld_trd/intro.asp") Report a Vehicle Sold / Traded
			li: a(href="https://www.dmv.virginia.gov/dmvnet/drivers_license_replacement/intro.asp") Driver's License Replacement
			li: a(href="https://www.dmv.virginia.gov/dmvnet/plate_purchase/intro.asp") Plate Purchase
	div(scroller) Return to Top



