$black:                 #000;
$darkerGray:            #222;
$darkGray:              #333;
$gray:                  #555555;
$grayLight:             #999999;
$grayLighter:           #eee;
$offWhite:              #f2f2f2;
$white:                 #fff;
$cGray:	#cccccc;
$borderGray: #b3b5b8;
// Accent colors
// -------------------------
$bkgd:                  #f3f5fa;
$bkgdMaroon:            #800000;
$blueDarkest:     #0c2954;
$blueDarker:       #0e3160;
$blueDark:              #1f4f80;
$blueLight:              #285f94;
$electricBlue:           #5a86ac;
$blueLighter:       #accbe0;
$blueLightest:      #bbd6e8;
$blueLinks:   #376390;
$listHover: #f0f0f0;
$green:                 #46a546;
$red:                   #9d261d;
$yellow:                #ffc40d;
$orange:                #ff8116;
$lightOrange:    #ff9b0c;
$pink:                  #c3325f;
$purple:             #7a43b6;
$inputDefault: #fdffe2;
$borderBlue: #ACCBE0;