@mixin compTitle{
	background: #eeeeee;
	background: -moz-linear-gradient(top,  #eeeeee 0%, #bec1c2 78%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(78%,#bec1c2));
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#bec1c2 78%);
	background: -o-linear-gradient(top,  #eeeeee 0%,#bec1c2 78%);
	background: -ms-linear-gradient(top,  #eeeeee 0%,#bec1c2 78%);
	background: linear-gradient(to bottom,  #eeeeee 0%,#bec1c2 78%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#bec1c2',GradientType=0 );
	color: #1F4F80;
	font-size: 1.3em;
	line-height: 1.3em;
	padding: 0.3em 0;
	text-shadow: 0 1px 0 #EEEEEE;
	margin:0;
	padding-left:1em;
	border-bottom: 1px solid #ACCBE0;
	box-shadow: 0 2px 2px #999999;
}

.compTitle{
	@include compTitle;
}