
<article class="g17">
  <div class="disclaimer">
    <h3 class="formTitle">Salvage Dealer Complaint</h3><p>The Special Inspection Group (SIG) of the Virginia Department of Motor Vehicles (DMV) licenses and regulates salvage dealers pursuant to
VA Code 46.2-1600. DMV also receives and investigates complaints from consumers/businesses regarding licensed dealers, unlicensed activity, and
stolen vehicles.</p>
<p>In response to such complaints, DMV may encourage compliance with Virginia laws, pursue administrative actions, or refer the complaint to an
appropriate agency for follow-up or enforcement action.</p>
<p>Use this form to file a complaint about a salvage dealer or suspected illegal activity. Submitting the form will trigger an email to SIG at
<a href="mailTo://enforcement@dmv.virginia.gov">enforcement@dmv.virginia.gov</a>. regarding your complaint.</p>
<p> <strong>ADDITIONAL QUESTIONS</strong></p>
<p> If you have additional questions, need help preparing this form, or have attachments, 
 contact DMV at:</p>
<ul>
<li>(804) 367-1678 or (804) 367-1997 (voice)</li>
<li>(804) 367-8087 (fax)</li>
<li>(800) 272-9268 (deaf or hearing impaired ONLY)</li>
<li><a href="mailTo://enforcement@dmv.virginia.gov">enforcement@dmv.virginia.gov</a></li>
</ul>

    <p class="address">Send correspondence to:</p>
    <ul>
      <li>	Virginia Department of Motor Vehicles</li>
      <li>	Law Enforcement </li>
      <li>	2300 West Broad Street, Room 629</li>
      <li>	Richmond, VA  23269-0001</li>
    </ul>
    <div class="continue">
      <div btn="btn" act="Continue"></div>
    </div>
  </div>
</article>