<h1 contentheader title="Applying for a Driver's License"></h1>
<div>




<div>
<h2>Age Requirements</h2>
<p>
    The minimum age for obtaining a Virginia driver's license is sixteen years and three months.
    To obtain a Virginia <a href="/drivers/learners.asp">learner's permit</a>,
    you must be at least fifteen years and six months.
</p>



<h2>Identification and Residency Requirements</h2>
<p>
    Each time you apply for a driver's license, learner's permit, <a href="/drivers/applyingcdl.asp">CDL, or CDL
    instruction permit</a> (or on each return visit until your license is issued), you must present documents proving your identification
    and residency.
</p>

<p>
    <strong>If you are age 19 or older</strong>, you must show two proofs of identity, one proof of <a href="/drivers/legal_presqa.asp">legal
    presence</a> and one proof of Virginia residency. Proof of your social security number (if you have been issued one) is also required;
    however, proof of your social security number is always required for a CDL.
</p>

<p>
    <strong>If you are under 19 years of age,</strong> you will be required to show one proof of identity, one proof of legal presence,
    and one proof of Virginia residency, along with proof of your social security number (if you have been issued one).
</p>

<p>
    To determine which documents to bring to DMV when you apply, use the interactive
    <a href="https://www.dmv.virginia.gov/apps/documentbuilder/intro.aspx">Document Guide</a>, or review the DMV publication <em> Obtaining a
    Driver's License or ID Card</em> (<a href="/webdoc/pdf/dmv141.pdf">DMV 141</a>) <a href="/webdoc/pdf/dmv141s.pdf">
    <img src="/images/enespanol.gif" border=0 height=9 width=62 alt="en Espanol"></a>.
</p>

<p>
    All documents must be originals and will be subject to verification.  Temporary documents and photocopies of documents will not be
    accepted.  DMV will not accept a document as proof of identity, legal presence, residency or social security number when there is
    reason to believe it has been altered, fraudulently obtained or is fake, forged, counterfeit, or otherwise non-genuine or illegitimate.
</p>

<p>
    Documents accepted by DMV as proof of identity, legal presence,  Virginia residency and social security number may change without prior
    notice. DMV may require additional documents.
</p>

<p>
    You may hold either a driver's license, or a CDL, but not both. If you hold a license of any kind, you are not eligible for a ID card.
</p>




<h2 id="additional">Additional Requirements</h2>
<p>
    If you previously have been found not innocent of any offense by a juvenile and domestic relations court in Virginia or any other state,
    you must obtain approval to be licensed from that court or a court in the city or county where you live.
</p>

<p>
    <strong>If you are from out-of-state</strong> and posses a valid driver's license, DMV may exchange your out-of-state driver's license for
    a Virginia driver's license if you meet the identity, legal presence, residency, and social security requirements and
    Virginia's <a class="s" href="/drivers/ed_reqs.asp">driver education</a> requirements, if applicable.
</p>

<p>
    <strong>If you are age 19 or older</strong> and you have never held a license issued by any state, U.S. territory or foreign country, you
    must hold a <a  href="/drivers/learners.asp">learner's permit</a> for a minimum of 60 days or show completion of a state
    approved <a class="s" href="/drivers/ed_reqs.asp">driver training course</a> while holding the permit.
</p>

<p>
    <strong>If you are under age 19</strong>, you must provide proof of successful completion of a
    state-approved <a class="s" href="/drivers/ed_reqs.asp">driver education program</a> and hold a learner's permit at
    least nine months before you can receive a driver's license.
</p>

<p>
    <strong>If you are under age 18</strong>, you must provide a driver education completion certificate or show proof of
    your successful completion of a state-approved driver education program. The driver
    education certificate of completion is considered part of the driver's license
    application. Your parent, guardian or foster parent must list his or her driver's
    license or state-issued identification card number and sign the certificate to
    certify that you have driven at least 45 hours,15 of which occurred after sunset,
    and that the statements made and the information submitted on the certificate
    are true and correct. Certifying false statements can result in prosecution.
</p>



<h2 id="selectiveservice">Selective Service Registration</h2>
<p>
    Generally, males under age 26 must register with the Selective Service. If you are required by federal law to register with the
    Selective Service, you must authorize DMV to forward your personal information to the Selective Service unless you have already registered.
</p>

<p>
    <strong>If you are under age 18</strong>, your parent or guardian must sign your application authorizing the Selective Service to
    register you when you turn age 18.
</p>

<p>
    DMV is prohibited by law from issuing any type of driver's license or ID card to an applicant who is required by federal law to register with the
    Selective Service but who refuses to authorize DMV to send his information to the Selective Service. If you have questions about Selective Service registration,
    visit the Selective Service website at <a href="/exec/link.asp?86">www.sss.gov</a> or call 847-688-6888 (TTY: 847-688-2567).
</p>



<h2  id="completed">Completing the Application</h2>
<p>
    When applying for an original driver's license, you must complete an application for a Virginia driver's
    license (form <a href="/webdoc/pdf/dl1p.pdf">DL 1P</a>). You may complete this form before or after coming to DMV. Use your full legal
    name. Abbreviations and nicknames will not be accepted. For your convenience, you also may apply to register to vote or change your voter registration address when
    you apply for your driver's license. Additionally, you may indicate your desire to become an <a href="/drivers/organs.asp">organ donor</a>.
</p>

<p>
    <strong>If you are under age 18</strong>, your parent, custodial parent or legal guardian
    must provide written consent by signing your application. A court order showing that you
    are an emancipated minor is acceptable in lieu of written consent.
</p>

<p>
    Falsifying information on any driver's license or identification card application is a criminal offense. Altering or assisting a person
    with improperly or fraudulently obtaining a driver's license, learner's permit, CDL, CDL instruction permit or ID card are also criminal offenses.
</p>



<h2 id="payment">Payment</h2>
<p>
    Normally, your Virginia driver's license is valid for 8 years and expires on your
    birthday. Your first driver's license will expire on your birthday in the eighth
    year of license validity.
</p>

<p>
    <strong>If you are under age 18</strong>, your learner's permit or driver's
    license will expire on your 20th birthday.
</p>

<p>
    The Code of Virginia mandates that persons required to register as a sex
    offender pursuant to Chapter 9 of Title 9.1 renew their driver's licenses every 5 years.
</p>

<p>
    The cost of a license varies, so refer to the DMV <a href="/webdoc/pdf/dmv201.pdf">Fee Chart</a> for details.
</p>

<p>
    For many individuals authorized to be in the U.S. temporarily, a driver's license will be valid only for the amount of
    time that you are legally permitted to stay in the U.S.. You will not be eligible to receive a limited
    duration driver's license if your authorized stay in the U.S. is less than 30 days from the date of your application.
    The expiration of the driver's license will be the same as the expiration date shown on the document used to prove
    legal presence. If the document does not show an expiration date, the license will be valid for one year.
</p>



<h2 id="testing">Testing</h2>
<p>
    Tests may include a <a href="/drivers/medical/vision.asp">vision screening</a>, a <a href="/drivers/know_exam.asp">two-part
    knowledge exam</a> and a <a href="/drivers/roadtest.asp">road skills test</a>.
    A DMV representative will tell you which tests you need to take.
</p>



<h2  id="issuance">Getting Your License (By Mail)</h2>
<p>
    Once you pass your required testing, your driver's license will be mailed to the address in DMV's records.  DMV has converted
    to a new secure process for issuing driver's licenses and ID cards, and has discontinued issuing them over the counter.
    The U.S. Postal Service will not forward driver's licenses, so make sure that DMV has your current, correct address on record.
    If you have moved, notify DMV right away.
</p>

<p>
    <strong>If you are under age 18,</strong> your driver's license will be sent to the judge of your local juvenile and domestic relations court.
    The court will notify you by mail about when and where you and your parent, custodial parent or legal guardian must appear to receive your license.
</p>

<p>
    DMV can deny or suspend driving privileges for persons under age 18 if the juvenile meets one or more of the conditions below.
    Questions about this law may be directed to <a href="/general/utilities/contact.asp">DMV</a>.
</p>
<ul>
    <li>
        The juvenile is found delinquent by a court,
    </li>
    <li>
        The juvenile is in need of supervision,
    </li>
    <li>
        The juvenile is involved in an alcohol or drug-related offense, or
    </li>
    <li>
        The juvenile needs court-assigned services or programs such as counseling.
    </li>
</ul>


<p>
    DMV will assign you a customer number which will display on your driver's license, learner's permit, CDL, or CDL instruction permit.
    If you wish to change your DMV-assigned number in the future, you may be required to present documentation from law enforcement or the
    courts indicating that you may be a victim of identity theft.
</p>

<p>
    DMV may refuse to issue a driver's license or identification card to any applicant who appears for photographing in a disguise or intentionally
    distorts their face to alter their appearance.
</p>



<h2>Additional Information</h2>

<p>
    For questions about driver fitness, refer to <a href="/drivers/medical/spec_restrict.asp">Medical and Mental Requirements</a>
</p>

<p>
    For driver's license examples, refer to <a href="/drivers/factsheet.asp">images of driver's licenses and identification cards</a>.
</p>

<p>
    Persons convicted of certain sexual offenses (as listed in Va. Code &sect; <a href="/exec/link.asp?347">46.2-323</a>) must register with the
    Virginia Department of State Police as provided in &sect; <a href="/exec/link.asp?348">19.2-298.1</a>.
</p>
</div>
</div>

<article related1></article>
<article related2></article>

<div scroller></div>