article.g17
	.attempts
		p {{attempts}}
	div
		h3.formTitle(data-ng-show="questions") {{type}}
		h3.formTitle(data-ng-show="!nine.Question") Randomizing Sample Questions...
		form(novalidate, name="form")
			.question1
				ul.radioList
					li.question.signs
						label.theQ {{one.Question}}
						img(src="img/{{one.Picture}}")
					li(data-ng-repeat="an in one.AnswerOptions", class="q{{$index + 1}}")
						label(class='q{{$index+1}}')
							input(type="radio", name="one", data-ng-model="answer0", data-ng-Click="q($index,one.AnswerOptions, 1)", data-ng-value="{{Answer + ($index +1)}}")
							{{an.Answer}} <span>
			.question2(data-ng-show="questTwo")
				ul.radioList
					li.question.signs
						label.theQ {{two.Question}}
						img(src="img/{{two.Picture}}")
					li(data-ng-repeat="an in two.AnswerOptions", class="q{{$index + 1}}")
						label(class='q{{$index+1}}')
							input(type="radio", name="q2", data-ng-model="answer1", data-ng-Click="q($index,two.AnswerOptions, 2)", data-ng-value="{{Answer + ($index +1)}}")
							{{an.Answer}} <span>
			.question3(data-ng-show="questThree")
				ul.radioList
					li.question.signs
						label.theQ {{three.Question}}
						img(src="img/{{three.Picture}}")
					li(data-ng-repeat="an in three.AnswerOptions", class="q{{$index + 1}}")
						label(class='q{{$index+1}}')
							input(type="radio", name="q3", data-ng-model="q3", data-ng-Click="q($index,three.AnswerOptions, 3)", data-ng-value="{{Answer + ($index +1)}}")
							{{an.Answer}} <span>
			.question4(data-ng-show="questFour")
				ul.radioList
					li.question.signs
						label.theQ {{four.Question}}
						img(src="img/{{four.Picture}}")
					li(data-ng-repeat="an in four.AnswerOptions", class="q{{$index + 1}}")
						label(class='q{{$index+1}}')
							input(type="radio", name="q4", data-ng-model="q4", data-ng-Click="q($index,four.AnswerOptions, 4)", data-ng-value="{{Answer + ($index +1)}}")
							{{an.Answer}} <span>
			.question5(data-ng-show="questFive")
				ul.radioList
					li.question.signs
						label.theQ {{five.Question}}
						img(src="img/{{five.Picture}}")
					li(data-ng-repeat="an in four.AnswerOptions", class="q{{$index + 1}}")
						label(class='q{{$index+1}}')
							input(type="radio", name="q5", data-ng-model="q5", data-ng-Click="q($index,five.AnswerOptions, 5)", data-ng-value="{{Answer + ($index +1)}}")
							{{an.Answer}} <span>
			.question6(data-ng-show="questSix")
				ul.radioList
					li.question.signs
						label.theQ {{six.Question}}
						img(src="img/{{six.Picture}}")
					li(data-ng-repeat="an in six.AnswerOptions", class="q{{$index + 1}}")
						label(class='q{{$index+1}}')
							input(type="radio", name="q6", data-ng-model="q6", data-ng-Click="q($index,six.AnswerOptions, 6)", data-ng-value="{{Answer + ($index +1)}}")
							{{an.Answer}} <span>
			.question7(data-ng-show="questSeven")
				ul.radioList
					li.question.signs
						label.theQ {{seven.Question}}
						img(src="img/{{seven.Picture}}")
					li(data-ng-repeat="an in seven.AnswerOptions", class="q{{$index + 1}}")
						label(class='q{{$index+1}}')
							input(type="radio", name="q7", data-ng-model="q7", data-ng-Click="q($index,seven.AnswerOptions, 7)", data-ng-value="{{Answer + ($index +1)}}")
							{{an.Answer}} <span>
			.question8(data-ng-show="questEight")
				ul.radioList
					li.question.signs
						label.theQ {{eight.Question}}
						img(src="img/{{eight.Picture}}")
					li(data-ng-repeat="an in four.AnswerOptions", class="q{{$index + 1}}")
						label(class='q{{$index+1}}')
							input(type="radio", name="q8", data-ng-model="q8", data-ng-Click="q($index,eight.AnswerOptions, 8)", data-ng-value="{{Answer + ($index +1)}}")
							{{an.Answer}} <span>
			.question9(data-ng-show="questNine")
				ul.radioList
					li.question.signs
						label.theQ {{nine.Question}}
						img(src="img/{{nine.Picture}}")
					li(data-ng-repeat="an in nine.AnswerOptions", class="q{{$index + 1}}")
						label(class='q{{$index+1}}')
							input(type="radio", name="q9", data-ng-model="q9", data-ng-Click="q($index,nine.AnswerOptions, 9)", data-ng-value="{{Answer + ($index +1)}}")
							{{an.Answer}} <span>
			.question10(data-ng-show="questTen")
				ul.radioList
					li.question.signs
						label.theQ {{ten.Question}}
						img(src="img/{{ten.Picture}}")
					li(data-ng-repeat="an in four.AnswerOptions", class="q{{$index + 1}}")
						label(class='q{{$index+1}}')
							input(type="radio", name="q10", data-ng-model="q10", data-ng-Click="q($index,ten.AnswerOptions, 10)", data-ng-value="{{Answer + ($index +1)}}")
							{{an.Answer}} <span>
			portalcancel