article.g17
	div.disclaimer
		h3.formTitle Thanks for Contacting the DMV
		:markdown
			Your email has been submitted.DMV relies on the public to help with investigating odometer
			fraud and appreciates you taking the time to make a complaint. Your ticket number for your reference is *{{ref}}*.
			Please include the reference number in all correspondence regarding this complaint. Be sure to print this receipt for your records.
			Submission Confirmation – Odometer Fraud Complaint

			**ADDITIONAL QUESTIONS**

				If you have additional questions, need help preparing this form, or have attachments,
				contact DMV at:
				- (804) 367-1678 or (804) 367-1997 (voice)
				- (804) 367-8087 (fax)
				- (800) 272-9268 (deaf or hearing impaired ONLY)
				- [enforcement@dmv.virginia.gov](mailTo://enforcement@dmv.virginia.gov)

		p.address Send correspondence to:
		ul
			li	Virginia Department of Motor Vehicles
			li	Law Enforcement 
			li	2300 West Broad Street, Room 629
			li	Richmond, VA  23269-0001
		.continue
			div(btn,act="All Online Services")