article.g17
	div.disclaimer
		h3.formTitle Odometer Fraud
		:markdown
				The Law Enforcement Division (LE) of the Virginia Department of Motor Vehicles
				(DMV) is responsible for
				investigating cases of odometer fraud. Odometer fraud 
				can be defined as the disconnection, resetting or
				alteration of a motor vehicle’s odometer with the intent 
				to change the number of miles indicated.

				Use this form to request that DMV LE investigate instances 
				or suspected instances of motor vehicle odometer fraud, whether (1) you 
				suspect that you are a victim of odometer fraud or (2) you are aware of 
				an individual, business, or organization that knowingly engages in odometer fraud. 
				Submitting the form will trigger an email to DMV LE at [enforcement@dmv.virginia.gov](mailTo://enforcement@dmv.virginia.gov).

				All complaints are reviewed by DMV law enforcement.  Some complaints are complex and may 
				require several weeks or months to resolve.

				Falsely reporting a crime is illegal and punishable as a misdemeanor (VA Code &18.2-461).

				**ADDITIONAL QUESTIONS**

				If you have additional questions, need help preparing this form, or have attachments, 
				contact DMV at:
				- (804) 367-1678 or (804) 367-1997 (voice)
				- (804) 367-8087 (fax)
				- (800) 272-9268 (deaf or hearing impaired ONLY)
				- [enforcement@dmv.virginia.gov](mailTo://enforcement@dmv.virginia.gov)

		p.address Send correspondence to:
		ul
			li	Virginia Department of Motor Vehicles
			li	Law Enforcement 
			li	2300 West Broad Street, Room 629
			li	Richmond, VA  23269-0001
		.continue
				button(btn)