article.g17
	div
		h3.formTitle Vehicle Information
		form(novalidate, name="form")
			.formField.year(year)
			.formField.make(make, req="true")
			.formField.model(model, req="true")
			.formField.vin(vin)
			.formField.plate(plate)
			.formField.prmColr(pcolor)
			.formField.secColr(scolor req="false")
			.continue
				div(btn,act="Continue")
			portalcancel