article.g17
	div
		h3.formTitle Company/Suspect Information <span>(provide as much information as possible)
		form(novalidate, name="form")
			.formField.companyName.gen
				label Company/Suspect Name<span class="reqText">Required
				input(type="text",name="compName",data-ng-model="compName",required="true",placeholder="Company Name")
				p(data-ng-show="form.compName.$invalid && form.compName.$dirty")
					You must enter your address
			.formField.address.gen
				label Company Address
				input(type="text",name="firstname",data-ng-model="compAddress", placeholder="Address")
			.formField.city
				label City
				input(type="text",name="firstname",data-ng-model="compCity",placeholder="City")
			.formField.state(states)
			.formField.zip
				label Zip
				input(type="text",name="compZip",data-ng-model="compZip", size="5", data-ng-pattern="zip", placeholder="Zip")
			.formField.email
				label Company Email
				input(type="text",name="compEmail",data-ng-model="compEmail", data-ng-pattern="email", placeholder="Email")
				p(data-ng-show="form.compEmail.$invalid && form.compEmail.$dirty") You must enter a valid email
			.formField.phone
				label Phone
				input(type="text",name="comPhone",data-ng-maxlength="12",data-ng-model="compPhone", data-ng-pattern="/[0-9-\-]{12,}/", placeholder="804-555-1212")
				p(data-ng-show="form.compPhone.$invalid && form.compPhone.$dirty") You must enter a valid phone number (ex.804-555-1212)
			.continue
				button(data-ng-click="next()") Continue
			portalcancel