article.g17
	div
		h3.formTitle Complainant/Victim Information cont.
		form(novalidate, name="form")
			.formField.email
				label Email<span class="reqText">Required
				input(type="text",name="email",data-ng-model="email",required="true",data-ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/", placeholder="Email")
				p(data-ng-show="form.email.$invalid && form.email.$dirty")
					You must enter your email
			.formField.phone
				label Phone<span class="reqText">Required
				input(type="text", name="phone", data-ng-maxlength="12",data-ng-model="phone",required="true",data-ng-pattern="/[0-9-\-]{12,}/", placeholder="804-555-1212")
				p(data-ng-show="form.phone.$invalid && form.phone.$dirty") You must enter a valid phone number (ex.804-555-1212)
			.formField.radio
				label How do you prefer to be contacted?
				ul.radioList
					li
						label
							input(type="radio",name="pref",data-ng-model="conPref", value="email", data-ng-required="true")
							<span>Email</span>
						label
							input(type="radio",name="pref",data-ng-model="conPref", value="phone", data-ng-required="true")
							<span>Phone</span>
			.continue
				button(data-ng-click="next()") Continue
			portalcancel