article.g17
	div
		h3.formTitle Complainant/Victim Information
		form(novalidate, name="form")
			.formField.firstName(firstname, req="true")

			.formField.lastName(lastname, req="true")

			.formField.address(address, req="true")

			.formField.city(city, req="true")

			.formField.state(states,req="true")

			.formField.zip(zip, req="true")

			.continue
				div(btn,act="Continue")
			portalcancel