article.g17
	div
		h3.formTitle Complainant/Victim Information
		form(novalidate, name="form")
			.formField.firstName
				label First Name<span class="reqText">Required
				input(type="text",name="firstname",data-ng-model="firstname",required="true",placeholder="First Name")
				p(data-ng-show="form.firstname.$invalid && form.firstname.$dirty")
					You must enter your first name
			.formField.lastName
				label Last Name<span class="reqText">Required
				input(type="text",name="lastname",data-ng-model="lastname",required="true",placeholder="Last Name")
				p(data-ng-show="form.lastname.$invalid && form.lastname.$dirty")
					You must enter your last name
			.formField.address
				label Address<span class="reqText">Required
				input(type="text",name="address",data-ng-model="address",required="true",placeholder="Address")
				p(data-ng-show="form.address.$invalid && form.address.$dirty")
					You must enter your address
			.formField.city
				label City<span class="reqText">Required
				input(type="text",name="city",data-ng-model="city",required="true",placeholder="City")
				p(data-ng-show="form.city.$invalid && form.city.$dirty")
					You must enter your city
			.formField.state
				label State
				select(data-ng-model="State",data-ng-options="c.State for c in states", data-ng-change="stateChange()")
					option(value="") Select a state
			.formField.zip
				label Zip<span class="reqText">Required
				input(type="text",name="zip",data-ng-model="zip",required="true",placeholder="Zip")
				p(data-ng-show="form.zip.$invalid && form.zip.$dirty")
					You must enter your address
			.continue
				button(data-ng-disabled="form.$invalid", data-ng-click="next()") Continue
			portalcancel