article.g17
	div
		h3.formTitle Vehicle Information
		form(novalidate, name="form")
			.formField.year(year)
			.formField.make(make, req="true")
			.formField.model(model, req="true")
			.formField.vin(vin)
			.formField.plate(plate)
			.formField.prmColr(prmcolr)
			.formField.secColr(seccolr req="false")
			.continue
				button(btn)
				.return(return)
			portalcancel