article.dmvHome{
	border:none;
	box-shadow:none;
	border-radius:none;
	background:none;
	article.slider, article.news{
		height:26em;
	}
	.comp1 div, .comp2 div, .comp3 div, .comp4 div, .comp5 div{
			background:url("/img/homeSprite.jpg")no-repeat;
			height:300px;
			background-position:center;
		}
	article.comp1 div{
		background-position:center -6px;
	}
	article.comp2 div{
		background-position:center -162px;
		margin-top:22px;
	}
	article.comp3 div{
		background-position:center -322px;
	}
	article.comp4 div{
		background-position:center -497px;
	}


	article.comp5 div{
		background-position:center -633px;
	}
}

