<div class="mopedSlide">
    <div>

        <div>
            <h2>Moped Riders</h2>
            <p style="padding-top:0.5em;">Required July 1, 2013</p>

            <span>Helmets</span>
            <span>Eye protection</span>
            <span>Photo ID while riding</span>

            <p style="margin-top:0.8em;border-top:none;">Required by July 1, 2014</p>

            <span>Titling and Registration</span>

            <a class="more" style="width:8em;" href="/vehicles/#moped.html">READ MORE</a>
        </div>
    </div>
</div>