
<article class="g17">
  <div class="disclaimer">
    <h3 class="formTitle">Odometer Fraud</h3><p>The Law Enforcement Division (LE) of the Virginia Department of Motor Vehicles
(DMV) is responsible for
investigating cases of odometer fraud. Odometer fraud 
can be defined as the disconnection, resetting or
alteration of a motor vehicle’s odometer with the intent 
to change the number of miles indicated.</p>
<p>Use this form to request that DMV LE investigate instances 
or suspected instances of motor vehicle odometer fraud, whether (1) you 
suspect that you are a victim of odometer fraud or (2) you are aware of 
an individual, business, or organization that knowingly engages in odometer fraud. 
Submitting the form will trigger an email to DMV LE at <a href="mailTo://enforcement@dmv.virginia.gov">enforcement@dmv.virginia.gov</a>.</p>
<p>All complaints are reviewed by DMV law enforcement.  Some complaints are complex and may 
require several weeks or months to resolve.</p>
<p>Falsely reporting a crime is illegal and punishable as a misdemeanor (VA Code &amp;18.2-461).</p>
<p><strong>ADDITIONAL QUESTIONS</strong></p>
<p>If you have additional questions, need help preparing this form, or have attachments, 
contact DMV at:</p>
<ul>
<li>(804) 367-1678 or (804) 367-1997 (voice)</li>
<li>(804) 367-8087 (fax)</li>
<li>(800) 272-9268 (deaf or hearing impaired ONLY)</li>
<li><a href="mailTo://enforcement@dmv.virginia.gov">enforcement@dmv.virginia.gov</a></li>
</ul>

    <p class="address">Send correspondence to:</p>
    <ul>
      <li>	Virginia Department of Motor Vehicles</li>
      <li>	Law Enforcement </li>
      <li>	2300 West Broad Street, Room 629</li>
      <li>	Richmond, VA  23269-0001</li>
    </ul>
    <div class="continue">
      <button btn="btn"></button>
    </div>
  </div>
</article>