
<article class="g17">
  <div>
    <h3 class="formTitle">Vehicle Information <span>(required if you are the victim of odometer fraud)</h3>
    <form novalidate="novalidate" name="form">
      <div class="formField year">
        <label>Year<span class="reqText">Required</label>
        <input type="text" name="address" data-ng-model="address" required="true" placeholder="First Name"/>
        <p data-ng-show="form.address.$invalid &amp;&amp; form.address.$dirty">
          <You>must enter your address</You>
        </p>
      </div>
      <div class="formField make">
        <label>Make<span class="reqText">Required</label>
        <input type="text" name="firstname" data-ng-model="firstname" required="true" placeholder="First Name"/>
        <p data-ng-show="form.firstname.$invalid &amp;&amp; form.firstname.$dirty">
          <You>must enter your first name</You>
        </p>
      </div>
      <div class="formField model">
        <label>Model<span class="reqText">Required</label>
        <input type="text" name="firstname" data-ng-model="firstname" required="true" placeholder="First Name"/>
        <p data-ng-show="form.firstname.$invalid &amp;&amp; form.firstname.$dirty">
          <You>must enter your first name</You>
        </p>
      </div>
      <div class="formField vin">
        <label>VIN<span class="reqText">Required</label>
        <input type="text" name="firstname" data-ng-model="firstname" required="true" placeholder="First Name"/>
        <p data-ng-show="form.firstname.$invalid &amp;&amp; form.firstname.$dirty">
          <You>must enter your first name</You>
        </p>
      </div>
      <div class="formField plate">
        <label>License Plate<span class="reqText">Required</label>
        <input type="text" name="firstname" data-ng-model="firstname" required="true" placeholder="First Name"/>
        <p data-ng-show="form.firstname.$invalid &amp;&amp; form.firstname.$dirty">
          <You>must enter your first name</You>
        </p>
      </div>
      <div class="formField prmColr">
        <label>Primary Vehicle Color<span class="reqText">Required</label>
        <input type="text" name="firstname" data-ng-model="firstname" required="true" placeholder="First Name"/>
        <p data-ng-show="form.firstname.$invalid &amp;&amp; form.firstname.$dirty">
          <You>must enter your first name</You>
        </p>
      </div>
      <div class="formField secColr">
        <label>Secondary Vehicle Color<span class="reqText">Required</label>
        <input type="text" name="firstname" data-ng-model="firstname" required="true" placeholder="First Name"/>
        <p data-ng-show="form.firstname.$invalid &amp;&amp; form.firstname.$dirty">
          <You>must enter your first name</You>
        </p>
      </div>
      <div class="continue">
        <button data-ng-click="next()">Continue</button>
      </div>
      <portalcancel></portalcancel>
    </form>
  </div>
</article>