
<article class="g17">
  <div>
    <h3 class="formTitle">Vehicle Information</h3>
    <form novalidate="novalidate" name="form">
      <div year="year" class="formField year"></div>
      <div make="make" req="true" class="formField make"></div>
      <div model="model" req="true" class="formField model"></div>
      <div vin="vin" class="formField vin"></div>
      <div plate="plate" class="formField plate"></div>
      <div pcolor="pcolor" class="formField prmColr"></div>
      <div scolor req="false" class="formField secColr"></div>
      <div class="continue">
        <button btn="btn"></button>
        <div return="return" class="return"></div>
      </div>
      <portalcancel></portalcancel>
    </form>
  </div>
</article>