<div class="formField subject">
<label>Subject*</label>
<select ng-model="subject" required="true" style="background:#eee;" name="subject">
<option value="">Subject</option>
<option value="driverInfo">Driver Information</option>
<option value="vehicleInfo">Vehicle Information</option>
<option value="Suspension">Suspension</option>
<option value="onlineTrans">Online Transaction</option>
<option value="generalQ">General Question</option>
<option value="comments">Comments</option>
<option value="techInfo">Technical Information</option>
<option value="other">Other</option>

</select>
<p ng-show="form.subject.$invalid && form.subject.$dirty">Required</p>
</div>
