
<article class="g17 dmvHome">
  <article class="g4 first comp1">
    <h3>Online Services</h3>
    <ul>
      <li><a href="https://www.dmv.virginia.gov/dmvnet/registration/regist_entry.asp">Vehicle Registration Renewal</a></li>
      <li><a href="https://www.dmv.virginia.gov/dmvnet/address/intro.asp">Address Change</a></li>
      <li><a href="https://www.dmv.virginia.gov/dmvnet/drivers_license/intro.asp">Driver's License Renewal</a></li>
      <li><a href="https://www.dmv.virginia.gov/dmvnet/veh_sld_trd/intro.asp">Report a Vehicle Sold / Traded</a></li>
      <li><a href="https://www.dmv.virginia.gov/dmvnet/drivers_license_replacement/intro.asp">Driver's License Replacement</a></li>
      <li><a href="https://www.dmv.virginia.gov/dmvnet/plate_purchase/intro.asp">Plate Purchase</a></li>
      <li><a href="#/OnlineServices" class="orgBtn">All</a></li>
    </ul>
    <div></div>
  </article>
  <article class="g4 comp2">
    <h3>Driver/ID Services</h3>
    <ul>
      <li><a href="#/drivers:applying">Applying for a Driver's License</a></li>
      <li><a href="/drivers/#points_assess.html">Points and Violations</a></li>
      <li><a href="/ske/">Sample Knowledge Exams</a></li>
      <li><a href="/drivers/#medical/index.html">Medical Information</a></li>
      <li><a href="/drivers/#applyingcdl.html">Applying for a Commercial Driver’s License</a></li>
      <li><a href="/drivers/#id/adult_id.html">Adult ID Cards</a></li>
      <li><a href="/" class="orgBtn">All</a></li>
    </ul>
    <div></div>
  </article>
  <article class="g4 second comp3">
    <h3>Vehicle Services</h3>
    <ul>
      <li><a href="/vehicles/#titling.html">Titling a Vehicle in Virginia</a></li>
      <li><a href="/vehicles/#vehiclereg.html">Registration Information</a></li>
      <li><a href="https://www.dmv.virginia.gov/dmvnet/ins_mon/entry.asp">Insurance Verification</a></li>
      <li><a href="/drivers/#disability/plates_assist.html">Disabled Placards & Plates</a></li>
      <li><a href="/vehicles/#selling.html">Selling / Donating a Vehicle</a></li>
      <li><a href="/" class="orgBtn">All</a></li>
    </ul>
    <div></div>
  </article>
  <article class="g4 comp4">
    <h3>Commercial Services</h3>
    <ul>
      <li><a href="/commercial/#mcs/programs/index.html">Motor Carriers</a></li>
      <li><a href="/commercial/#ez_fleet.html">EZ Fleet</a></li>
      <li><a href="/commercial/#mcs/webcat.html">webCAT</a></li>
      <li><a href="/commercial/#dealer/index.html">Dealer Services</a></li>
      <li><a href="/commercial/#mcs/weigh/index.html">Size and Weight Enforcement</a></li>
      <li><a href="/commercial/#odealer/index.html">Online Dealer</a></li>
      <li><a href="/" class="orgBtn">All</a></li>
    </ul>
    <div></div>
  </article>
  <article class="g8 first homeTabs">
    <div class="tabs">
      <ul>
        <li data-ng-class="{ active: activePath=='/Locations'}"><a href="" data-ng-click="tab('Locations')">Locations</a></li>
        <li data-ng-class="{ active: activePath=='/Notices' }"><a href="" data-ng-click="tab('Notices')">Notices</a></li>
        <li data-ng-class="{ active: activePath=='/DMV2Go' }" class="m"><a href="" data-ng-click="tab('dmvgo')">DMV 2 Go</a></li>
        <li data-ng-class="{ active: activePath=='/Moving' }"><a href="" data-ng-click="tab('moving')">Moving?</a></li>
        <li data-ng-class="{ active: activePath=='/WhatsNew' }" class="m"><a href="" data-ng-click="tab('new')">What's New</a></li>
      </ul>
    </div>
    <div class="tabContent">
      <h2 data-ng-show="isloading &amp;&amp; !isError" class="loaderText">Loading...</h2>
      <h2 data-ng-show="isError" class="error">Sorry, this information is currently unavailable</h2>
      <div data-ng-hide="isloading || isError || activePath !== '/Locations'">
        <div data-ng-show="activePath=='/Locations' &amp;&amp; !isloading &amp;&amp; !isError" style="position:absolute;z-index:3000;overflow:auto;" class="selectHolder">
          <div class="formField mapSelect">
            <select data-ng-model="name" data-ng-options="c.name for c in colors" data-ng-change="update()">
              <option value="">select location</option>
            </select>
          </div>
        </div>
        <div style="style=width:500px;height:0px;margin:3px;">
          <div id="map_canvas" ui-map="myMap" ui-options="mapOptions"></div>
        </div>
      </div>
      <div data-ng-show="activePath=='/Details' &amp;&amp; !isloading" data-ng-model="d" class="details"><img src="{{srrc}}"/>
        <ul>
          <li style="margin-bottom:0.5em;">{{d.OFFICENAME}} {{status}}</li>
          <li style="margin-bottom:0.5em;">Current Wait: {{d.WAIT}}</li>
          <li style="margin-bottom:0.5em;">{{d.OFFICEADDRESS}}</li>
          <li data-ng-bind-html="d.OFFICEHOURS"></li>
          <li style="padding-top:2em;"><a href="https://maps.google.com/?q={{d.OFFICEADDRESS}}" data-ng-hide="d.ID === '76'">Click here for driving directions</a></li>
          <li><a href="" data-ng-click="tab('Locations')"><< Return to map</a></li>
        </ul>
      </div>
      <div data-ng-show="activePath=='/Notices' &amp;&amp; !isloading &amp;&amp; !isError" class="notices">
        <h2 data-ng-show="noNotices &amp;&amp; !isloading">There are currently no notices.</h2>
        <div data-ng-class-odd="'odd'" data-ng-class-even="'even'" data-ng-repeat="importantNotice in importantNotices">
          <h3 data-ng-click="check(importantNotice.TYPE,importantNotice.LINK)" data-ng-href="{{importantNotice.link}}" class="{{importantNotice.HIGHLIGHT}}">{{importantNotice.TITLE}}</h3>
          <p>{{importantNotice.INTRO_TEXT}}</p>
        </div>
      </div>
      <div data-ng-show="activePath=='/Notice' &amp;&amp; !isloading" data-ng-model="notice" class="noticesDetails">
        <h2 data-ng-show="noData &amp;&amp; !isloading">This record does not exist.</h2>
        <h2>{{title}}</h2>
        <p data-ng-show="notice &amp;&amp; !isloading">{{notice.MSG}}</p>
      </div>
      <div data-ng-show="activePath=='/DMV2Go' &amp;&amp; !isloading" class="twoGo">
        <h2 data-ng-show="noEvents">There are no visits planned.</h2>
        <div style="padding-top:1em;">
          <div data-ng-show="dayOneEvents" class="day">
            <div day="day" events="dayOne"></div>
            <div eventlist="eventlist" data-ng-repeat="event in dayOneEvents" class="theEvents"></div>
          </div>
          <div data-ng-show="dayTwoEvents" class="day">
            <div day="day" events="dayTwo"></div>
            <div eventlist="eventlist" data-ng-repeat="event in dayTwoEvents" class="theEvents"></div>
          </div>
          <div data-ng-show="dayThreeEvents" class="day">
            <div day="day" events="dayThree"></div>
            <div eventlist="eventlist" data-ng-repeat="event in dayThreeEvents" class="theEvents"></div>
          </div>
          <div data-ng-show="dayFourEvents" class="day">
            <div day="day" events="dayFour"></div>
            <div eventlist="eventlist" data-ng-repeat="event in dayFourEvents" class="theEvents"></div>
          </div>
          <div data-ng-show="dayFiveEvents" class="day">
            <div day="day" events="dayFive"></div>
            <div eventlist="eventlist" data-ng-repeat="event in dayFiveEvents" class="theEvents"></div>
          </div>
          <div data-ng-show="daySixEvents" class="day">
            <div day="day" events="daySix"></div>
            <div eventlist="eventlist" data-ng-repeat="event in daySixEvents" class="theEvents"></div>
          </div><a style="text-decoration:underline;float:right;margin-right:2em;margin-top:1.2em;" href="/general/#dmv_2go.html">Full <span class="emphasis">DMV 2 Go Calendar</span></a>
        </div>
      </div>
      <div data-ng-show="activePath=='/Moving' &amp;&amp; !isloading" class="moving">
        <h1>On the Go? Here's What You Need to Know.</h1>
        <ul>
          <li><a href="">New to Virginia</a></li>
          <li><a href="">Leaving Virginia</a></li>
          <li><a href="">Moving Within Virginia</a></li>
          <li><a href="">Temporarily Outside of Virginia</a></li>
        </ul>
      </div>
      <div data-ng-show="activePath=='/WhatsNew' &amp;&amp; !isloading" class="whatsnew">
        <h2 data-ng-show="noData &amp;&amp; !isloading">There are currently no notices.</h2>
        <div data-ng-class-odd="'odd'" data-ng-class-even="'even'" data-ng-repeat="new in whatsNew">
          <p>{{importantNotice.INTRO_TEXT}}</p>
        </div>
      </div>
    </div>
  </article>
  <article class="g8 sec slider">
    <div class="flexslider">
      <ul class="slides">
        <li moped="moped"></li>
        <li diesel="diesel"></li>
        <li grandad="grandad"></li>
      </ul>
    </div>
  </article>
  <article class="g4 first comp5">
    <h3>Highway Safety</h3>
    <ul>
      <li><a href="https://www.dmv.virginia.gov/dmvnet/registration/regist_entry.asp">Vehicle Registration Renewal</a></li>
      <li><a href="https://www.dmv.virginia.gov/dmvnet/address/intro.asp">Address Change</a></li>
      <li><a href="https://www.dmv.virginia.gov/dmvnet/drivers_license/intro.asp">Driver's License Renewal</a></li>
      <li><a href="https://www.dmv.virginia.gov/dmvnet/veh_sld_trd/intro.asp">Report a Vehicle Sold / Traded</a></li>
      <li><a href="https://www.dmv.virginia.gov/dmvnet/drivers_license_replacement/intro.asp">Driver's License Replacement</a></li>
      <li><a href="https://www.dmv.virginia.gov/dmvnet/plate_purchase/intro.asp">Plate Purchase</a></li>
      <li><a href="/" class="orgBtn">All</a></li>
    </ul>
    <div></div>
  </article>
  <article class="g4 sec comp6">
    <h3>Other</h3>
    <ul>
      <li><a href="https://www.dmv.virginia.gov/dmvnet/registration/regist_entry.asp">Vehicle Registration Renewal</a></li>
      <li><a href="https://www.dmv.virginia.gov/dmvnet/address/intro.asp">Address Change</a></li>
      <li><a href="https://www.dmv.virginia.gov/dmvnet/drivers_license/intro.asp">Driver's License Renewal</a></li>
      <li><a href="https://www.dmv.virginia.gov/dmvnet/veh_sld_trd/intro.asp">Report a Vehicle Sold / Traded</a></li>
      <li><a href="https://www.dmv.virginia.gov/dmvnet/drivers_license_replacement/intro.asp">Driver's License Replacement</a></li>
      <li><a href="https://www.dmv.virginia.gov/dmvnet/plate_purchase/intro.asp">Plate Purchase</a></li>
      <li><a href="/" class="orgBtn">All</a></li>
    </ul>
    <div></div>
  </article>
  <article data-ng-controller="NewsController" class="g8 second news">
    <h3>News</h3>
    <h2 data-ng-show="noNews &amp;&amp; !isloading">There are currently no notices.</h2>
    <div class="sp"></div>
    <div data-ng-class-odd="'odd'" data-ng-class-even="'even'" data-ng-repeat="news in News">
      <h1><a data-ng-click="next(news.ID)">{{news.TITLE}}</a></h1>
      <p>{{news.INTRO_TEXT}}</p>
    </div>
  </article>
  <div scroller="scroller">Return to Top</div>
</article>