
<article class="g17 confirmation">
  <h3 class="formTitle">Please verify the following information</h3>
  <div>
    <div data-ng-repeat="a in theData" data-ng-show="a.firstname" class="yInfo">
      <h3>Your Information</h3>
      <ul>
        <li><b>Name:</b> {{a.firstname}} {{a.lastname}}</li>
        <li><b>Email:</b> {{a.email}}</li>
        <li data-ng-show="a.phone"><b>Phone:</b> {{a.phone}}</li>
        <li><b>Customer Number:</b> {{a.custnumber}}</li>
        <li data-ng-show="a.subject !== 'ot'"><b>Subject:</b> {{subj}}</li>
        <li data-ng-show="!isloading" class="edit"><a data-ng-click="edit('ContactUs')"> Edit </a></li>
      </ul>
    </div>
    <div data-ng-repeat="a in theData" data-ng-show="a.title" class="vInfo sec">
      <h3>Vehicle Information</h3>
      <ul>
        <li><b>Title:</b> {{a.title}}</li>
        <li><b>Last four of VIN:</b> {{a.vin}}</li>
        <li><b>License Plate:</b> {{a.plate}}</li>
        <li data-ng-show="!isloading" class="edit"><a data-ng-click="edit('StepTwo')"> Edit </a></li>
      </ul>
    </div>
    <div data-ng-repeat="a in theData" class="details verify {{vary}}">
      <h3>Details</h3>
      <form name="form"></form>
      <p>{{a.description}}</p>
      <ul>
        <li data-ng-show="!isloading" class="edit"><a data-ng-click="edit('StepTwo')"> Edit </a></li>
      </ul>
    </div>
    <div yesno="yesno" req="req" class="formField radio yesno"></div>
    <div class="continue">
      <div Btn="Btn" act="Submit" dis="{{dis}}"></div>
      <div loader="loader"></div>
    </div>
  </div>
</article>