
<article class="g17">
  <div>
    <h3 class="formTitle">Contact Us Step 1 of 3</h3>
    <form novalidate="novalidate" name="form">
      <div firstname="firstname" req="req" class="formField firstName gen"></div>
      <div lastname="lastname" req="req" class="formField lastName sec"></div>
      <div email="email" req="req" class="formField email gen"></div>
      <div phone="phone" class="formField phone sec"></div>
      <div contactsubj="contactsubj" req="req" class="formField subject sing"></div>
      <div class="continue">
        <div btn="btn" act="Continue"></div>
      </div>
      <portalcancel></portalcancel>
    </form>
  </div>
</article>