article.g17.searchResults
	div.responseHold(style="height:40em;overflow:auto;margin-top:1em;")
		h1(data-ng-show="showRes") Results for "{{q}}" {{message}}
		h1(data-ng-show="showNone") Sorry, there were no results found for "{{q}}"
		//p(data-ng-show="showRes") Search Results 1 - {{current}} of about {{total}} for {{q}}. Search took {{time}} seconds.
		h1.spell(data-ng-show="spellCheck") Sorry, "{{q}}" could not be found, 
		h1.spell(data-ng-show="spellCheck") did you mean <a data-ng-click="spellcheck()">"{{spellCheck}}"</a>
		div.none(data-ng-show="showNone")
			ul
				li For better results:
				li Make sure all words are spelled correctly
				li Try different keywords
				li Try more general keywords
		
		div.responses.gm(data-ng-repeat="a in gmResponses")
			ul
				li.title <a href="{{a.GL}}" data-ng-bind-html-unsafe="a.GD"></a>
				li(data-ng-bind-html-unsafe="a.GL")
		
		div.responses(data-ng-repeat="a in responses track by $index", data-ng-show="a.U")
			ul
				li.title <a href="{{a.U}}" data-ng-bind-html-unsafe="a.T"></a>
				li(data-ng-bind-html-unsafe="a.S")
				li <a href="{{a.U}}" data-ng-bind-html-unsafe="a.U"></a>
		
		div.add
		
		a.more(data-ng-click="showMore()", data-ng-show="areMore", data-ng-controller="MoreResults") Show More


