!!!5
html
	head
		title #{title} - Welcome
		link(rel='stylesheet', href='/css/main.css')
		body.myDMV
		.container.webservices
			header
				h1 Web Services
				.hdrlinks  
					ul
						li
							a(href="") Secure Apps
						li
							a(href="") Code of Va.
						li
							a(href="") dmvnow.com
		block content
		footer
			p.
				<strong> DMV webLab&copy; running on node with Express, Jade and Stylus