div.continue{
	text-align:center;
	padding-top:1em;
	clear:left;
	padding-bottom:2em;
	a{
		margin-right:2em;
		text-decoration:underline;
		cursor:pointer;
		&.return{
			margin-left:1em;
			display:block;
			margin-top:1em;
			color:$orange;
		}
		&.btn{
			display:block;
			margin:0 auto;
			width:80%;
		}
	}
	button,input{
	  width:80%;
	}
	button[disabled]{
		opacity:0.3;
	}
	nav{
		margin-top:1em;
	}
	input.return{
		display:block;
		background:none;
		border:none;
		color:$orange;
		margin:0 auto;
		text-decoration: underline;
		margin-top:1em;
	}
	.btn{
			@include orangeToLight;
	}
}


@media screen and (min-width:758px){
  div.continue{
    button,input, a.btn{
      width:40%;
    }
  }
}
