div.continue{
	text-align:center;
	padding-top:1em;
	clear:left;
	padding-bottom:2em;
	a{
		margin-right:2em;
		text-decoration:underline;
		cursor:pointer;
		&.return{
			margin-left:1em;
			display:block;
			margin-top:1em;
		}
	}
	button{
	  width:80%;
	}
	button[disabled]{
		opacity:0.3;
	}
}


@media screen and (min-width:758px){
  div.continue{
    button{
      width:40%;
    }
  }
}
