@mixin orgBtn{
	background:orange;
	@include orangeToLight;
	border:solid 2px $blueLighter;
	padding:3px 8px;
	@include lightlyRounded;
	@include bottomShadowLight;
	@include textShadowLight;
  	font-weight:bold;
  	color:$white;
  	&:after {
  		display: inline-block;
    		content: "";
    		width: 15px;
    		height: 13px;
    		background: transparent url('/img/ui-icons_ffffff_256x240.png') no-repeat;
    		background-position: -30px -15px;
    		z-index:9999;
    		}
    		&:hover{
    			@include LightToOrange;
    			}
    	}
.orgBtn{
	@include orgBtn;
}

a.orgBtn{
	text-decoration:none !important;
	color:#FFFFFF !important;
}
