!!! html
html#ng-app.no-js(lang='en', data-ng-app='odomFraud')
	head
		meta(charset='utf-8')
		meta(devicemeta)
		meta(compatmeta)
		meta(name="description",content="Virginia DMV Odometer Fraud Complaint Form")
		title Virginia DMV Odometer Fraud Complaint Form
		link(rel='stylesheet', href='/css/main.css')
		script(shims)
		//if lt IE 9
			script(respond)

	body.odomFraud
		//if lt IE 8
			div(browsehappy)

		vaNav

		section.site
			plainheader
			block content
		block scripts


		<!-- build:js /globals/globals.min.js -->
		script(src="http://10.156.147.121/globals/globals.js")
		//script(src="http://localhost/globals/globals.js")
		<!-- endbuild -->

		<!-- build:js scripts/contactUs.min.js -->
		script(src="scripts/dev/controllers.js")
		script(src="scripts/dev/factories.js")
		script(src="scripts/dev/directives.js")
		script(src="scripts/dev/dmvPortalConfig.js")
		<!-- endbuild -->