article.g17
	div
		h3.formTitle Company/Suspect Information <span>(provide as much information as possible)</span>
		form(novalidate, name="form")
			.formField.companyName.gen(compname, req)
			.formField.address.gen(address)
			.formField.city(city)
			.formField.state(states)
			.formField.zip(zip)
			.formField.email(email)
			.formField.phone(phone)
			.continue
				div(btn,act="Continue")
			portalcancel