article.g17
	div
		h3.formTitle Complainant/Victim Information
		form(novalidate, name="form")
			.formField.firstName(firstname,req)

			.formField.lastName(lastname,req)

			.formField.address(address,req)

			.formField.city(city,req)

			.formField.state(states,req, type='stepTwo')

			.formField.zip(zip,req)

			.continue
				div(btn,act="Continue")
			portalcancel