article.g17
	div
		h3.formTitle Odometer Fraud - Vehicle Information <span>(provide as much information as possible)</span>
		form(novalidate, name="form")
			.formField.year(year)

			.formField.make(make)

			.formField.model(model)

			.formField.vin.gen(vin)

			.formField.plate.sec(plate)

			.formField.prmColr.gen(pcolor)

			.formField.secColr.sec(scolor)

			.continue
				div(btn,act="Continue")
			portalcancel