article.g17
	div
		h3.formTitle Vehicle Information
		form(novalidate, name="form")
			.formField.year(year,req)

			.formField.make(make,req)

			.formField.model(model,req)

			.formField.vin(vin,req)

			.formField.plate(plate,req)

			.formField.prmColr(pcolor,req)

			.formField.secColr(scolor)

			.continue
				div(btn,act="Continue")
			portalcancel