article.g17
	div
		h3.formTitle Company/Suspect Information <span>(provide as much information as possible)</span>
		form(novalidate, name="form")
			.formField.companyName.gen(companyname, req="true")
			.formField.address.gen(address, req="false")
			.formField.city(city, req="false")
			.formField.state(states,req="false")
			.formField.zip(zip, req="false")
			.formField.email(email, req="false")
			.formField.phone(phone, req="false")
			.continue
				div(btn,act="Continue")
			portalcancel