article.g17.complete
		h3.formTitle Contact Us - Complete!
		div(data-ng-repeat="a in theData")
			h2 Thanks for your inquiry, {{a.firstname}}. <span>You will receive an email verification shortly.</span>
			p <span data-ng-show="a.response === 'No'">You indicated that no response is necessary to your email.</span><span data-ng-show="a.response === 'Yes'">We will respond to your email as soon as possible.</span>
			.continue
				div(btn,act="All Online Services")