article.g17.confirmation
	h3.formTitle Please verify the following information
	div
		.yInfo(data-ng-repeat="a in theData", data-ng-show="a.firstname")
			h3 Your Information
			ul
				li <b>Name:</b> {{a.firstname}} {{a.lastname}}
				li <b>Email:</b> {{a.email}}
				li(data-ng-show="a.phone") <b>Phone:</b> {{a.phone}}
				li <b>Customer Number:</b> {{a.custnumber}}
				li(data-ng-show="a.subject !== 'ot'")<b>Subject:</b> {{subj}}
				li.edit(data-ng-show='!isloading') <a data-ng-click="edit('ContactUs')"> Edit </a>
		.vInfo.sec(data-ng-repeat="a in theData", data-ng-show="a.title")
			h3 Vehicle Information
			ul
				li <b>Title:</b> {{a.title}}
				li <b>Last four of VIN:</b> {{a.vin}}
				li <b>License Plate:</b> {{a.plate}}
				li.edit(data-ng-show='!isloading') <a data-ng-click="edit('StepTwo')"> Edit </a>
		.details.verify(data-ng-repeat="a in theData", class="{{vary}}")
			h3 Details
			form(name="form")
			p {{a.description}}
			ul
				li.edit(data-ng-show='!isloading') <a data-ng-click="edit('StepTwo')"> Edit </a>
		.formField.radio.yesno(yesno,req)
		.continue
			div(Btn,act="Submit", dis="{{dis}}")
			div(loader)