article.g17
	div
		h3.formTitle Contact Us Step 1 of 3
		form(novalidate, name="form")
			.formField.firstName.gen(firstname,req)

			.formField.lastName.sec(lastname,req)

			.formField.email.gen(email,req)

			.formField.phone.sec(phone)

			.formField.subject.sing(contactsubj,req)
			.continue
				div(btn,act="Continue")
			portalcancel
