article.g17
	div
		h3.formTitle Contact Us Step 2 of 3
		form(novalidate, name="form2", data-ng-show="vehicles")
			.vehicles
				.formField.title.gen(vehtitle,req, data-ng-show="vehicles")
				.formField.vin.sec(vin,req, data-ng-show="vehicles")
				.formField.plate.sing(plate,req, data-ng-show="vehicles")
				.formField.details.sing(detail, req)
				.continue
					div(btn,act="Continue", data-ng-disabled="form2.$invalid ||")
				portalcancel
		form(novalidate, name="form", data-ng-show="!vehicles")
				.formField.details.sing(detail, req)
				.continue
					div(btn,act="Continue")
				portalcancel