<div class="mainContent">
	<div class="content singleContainer" style="overflow: hidden;padding-bottom:1em;">
		<h3>Sample Knowledge Exams</h3>
		<form>
			<p style="padding-bottom:13px;">
            Pick an option below to test your knowledge.
        </p>

			<ul class="radioList">
				<li class="f">
					<a class="signs" ng-click="signs()">Driver's License: Part 1: Traffic Signs</a>
				</li>
				<li>
					<a class="general" ng-click="general()">Driver's License: Part 2: General Knowledge</a>
				</li>
				<li>
					<a class="motorcycle" ng-click="motorcycle()">Motorcycle License</a>
				</li>
				<li>
					<a class="dealerSales" ng-click="dealerSales()">Dealer Salesperson License</a>
				</li>
				<li>
					<a class="commercial" ng-click="commercial()">Commercial Driver's License</a>
				</li>
				<li>
					<a class="dealerOperator" ng-click="dealerOperator()">Dealer/Operator License</a>
				</li>

			</ul>
		</form>
		<h2 class="loaderText" ng-show="isloading && !err" data-ng-animate="'fade'">Gathering Exam Information</h2>
		<h2 class="loaderText err" style="background:none;" ng-show="err">{{err}}</h2>
		<portalcancel ng-show="!isloading"></portalcancel>
	</div>

</div>

