
<article class="g17">
  <div class="disclaimer">
    <h3 class="formTitle">Contact Us - Complete!</h3>
    <div data-ng-repeat="a in theData">
      <h2>Thanks for your inquiry, {{a.firstname}}. <span data-ng-show="a.getEmail === 'yes'">You will receive an email verification shortly.</span></h2>
      <div>
        <p>
          <span(data-ng-show="a.response === 'no'"You indicated that no response is necessary to your email.</span>
          <span data-ng-show="a.response === 'yes'">We will respond to your email as soon as possible.</span>
        </p>
      </div>
    </div>
    <div class="continue">
      <div btn="btn" act="All Online Services"></div>
    </div>
  </div>
</article>