
<article class="g17">
  <div>
    <h3 class="formTitle">Contact Us Step 2 of 3</h3>
    <form novalidate="novalidate" name="form2" data-ng-show="vehicles">
      <div class="vehicles">
        <div vehtitle="vehtitle" req="req" data-ng-show="vehicles" class="formField title gen"></div>
        <div vin="vin" req="req" data-ng-show="vehicles" class="formField vin sec"></div>
        <div plate="plate" req="req" data-ng-show="vehicles" class="formField plate sing"></div>
        <div detail="detail" req="req" class="formField details sing"></div>
        <div class="continue">
          <div btn="btn" act="Continue" data-ng-disabled="form2.$invalid ||"></div>
        </div>
        <portalcancel></portalcancel>
      </div>
    </form>
    <form novalidate="novalidate" name="form" data-ng-show="!vehicles">
      <div detail="detail" req="req" class="formField details sing"></div>
      <div class="continue">
        <div btn="btn" act="Continue"></div>
      </div>
      <portalcancel></portalcancel>
    </form>
  </div>
</article>