article.g17.confirmation
	h3.formTitle Salvage Dealer Complaint - Please verify the following information
	div
		.yInfo(data-ng-repeat="a in theData", data-ng-show="a.firstname")
			h3 Your Information
			ul
				li <b>Your Name:</b> {{a.firstname}} {{a.lastname}}
				li <b>Your Address:</b> {{a.address}}, {{a.city}}, {{a.state}}, {{a.zip}}
				li <b>Your Email:</b> {{a.email}}
				li <b>Phone:</b> {{a.phone}}
				li <b>Contact Preference:</b> {{a.conPref}}
				li.edit(data-ng-show='!isloading') <a data-ng-click="edit('StepTwo')"> Edit </a>
		.bInfo.sec(data-ng-repeat="a in theData", class="{{vary}}")
			h3 Company Information
			ul
				li <b>Company/Suspect Name:</b> {{a.compName}}
				li(data-ng-show="a.compAddress || a.compCity || a.compState || a.compZip") <b>Company Address:</b> {{a.compAddress}}, {{a.compCity}}, {{a.compState}}, {{a.compZip}}
				li(data-ng-show="a.compEmail") <b>Company Email:</b> {{a.compEmail}}
				li(data-ng-show="a.compPhone") <b>Company Phone:</b> {{a.compPhone}}
				li.edit(data-ng-show='!isloading') <a data-ng-click="edit('StepFour')"> Edit </a>
		.vInfo(data-ng-repeat="a in theData", class="{{vary2}}")
			h3 Vehicle Information
			ul
				li(data-ng-show="!a.year && !a.make && !a.model && !a.vin && !a.plate && !a.complDate && a.learned === \'N/A\'") <b>Nothing Entered</b>
				li(data-ng-show="a.year") <b>Year:</b> {{a.year}}
				li(data-ng-show="a.make") <b>Make:</b> {{a.make}}
				li(data-ng-show="a.model") <b>Model:</b> {{a.model}}
				li(data-ng-show="a.vin") <b>Last Four of VIN:</b> {{a.vin}}
				li(data-ng-show="a.plate") <b>License Plate:</b> {{a.plate}}
				li(data-ng-show="a.complDate") <b>When did you notice the violation?</b> {{a.complDate}}
				li(data-ng-show="a.learned && a.learned !== \'N/A\'") <b>How did you learn of the violation?</b> {{a.learned}}
				li.edit(data-ng-show="!isloading") <a data-ng-click="edit('StepFive')"> Edit </a>
		.details.sec(data-ng-repeat="a in theData", calss="{{vary3}}")
			h3 Details
			p {{a.details}}
			ul
				li.edit(data-ng-show='!isloading') <a data-ng-click="edit('StepSix')"> Edit </a>
		.continue
			div(btn,act="Submit")
			div(loader)
