article.g17
	div.disclaimer
		h3.formTitle Salvage Dealer Complaint
		:markdown
			The Special Inspection Group (SIG) of the Virginia Department of Motor Vehicles (DMV) licenses and regulates salvage dealers pursuant to
			VA Code 46.2-1600. DMV also receives and investigates complaints from consumers/businesses regarding licensed dealers, unlicensed activity, and
			stolen vehicles.


			In response to such complaints, DMV may encourage compliance with Virginia laws, pursue administrative actions, or refer the complaint to an
			appropriate agency for follow-up or enforcement action.

			Use this form to file a complaint about a salvage dealer or suspected illegal activity. Submitting the form will trigger an email to SIG at
			[enforcement@dmv.virginia.gov](mailTo://enforcement@dmv.virginia.gov). regarding your complaint.

				**ADDITIONAL QUESTIONS**

				If you have additional questions, need help preparing this form, or have attachments, 
				contact DMV at:
				- (804) 367-1678 or (804) 367-1997 (voice)
				- (804) 367-8087 (fax)
				- (800) 272-9268 (deaf or hearing impaired ONLY)
				- [enforcement@dmv.virginia.gov](mailTo://enforcement@dmv.virginia.gov)

		p.address Send correspondence to:
		ul
			li	Virginia Department of Motor Vehicles
			li	Law Enforcement 
			li	2300 West Broad Street, Room 629
			li	Richmond, VA  23269-0001
		.continue
			div(btn,act="Continue")