article.g17
	div
		h3.formTitle Vehicle Information <span>(provide as much information as possible)</span>
		form(novalidate, name="form")
			.formField.year(year)

			.formField.make(make)

			.formField.model(model)

			.formField.vin.gen(vin)

			.formField.plate.sec(plate)

			.formField.cal.gen(cal, title="When did you notice the violation?")

			.formField.opts.sec(opts, title="How did you learn of the violation?", options="Personal Contact,Internet,Flyer/Poster,Social Media,Word of Mouth,Other")

			.continue
				div(btn,act="Continue")
			portalcancel