article.g17
	div
		h3.formTitle Complainant/Victim Information (cont.)
		form(novalidate, name="form")

			.formField.email.gen(email, req="true")

			.formField.phone.sec(phone, req="true")

			.formField.radio
				label How do you prefer to be contacted?
				ul.radioList
					li
						label
							input(type="radio",name="pref",data-ng-model="conPref", value="email", data-ng-required="true")
							<span>Email</span>
						label
							input(type="radio",name="pref",data-ng-model="conPref", value="phone", data-ng-required="true")
							<span>Phone</span>
			.continue
				div(btn,act="Continue")
			portalcancel