article.g17
	div
		h3.formTitle Odometer Fraud Complaint Form - Step One
		form(novalidate, name="form")
			.formField.radio
				label Do you wish to remain anonymous?
				ul.radioList
					li
						label
							input(type="radio",name="type", data-ng-model="anonymous", value="No", data-ng-click='two()')
							<span>No</span>
						label
							input(type="radio",name="type", data-ng-model="anonymous", value="Yes", data-ng-click='one()')
							<span>Yes</span>
			.continue
				button(data-ng-disabled="checkIt", data-ng-click="next()") Continue
			portalcancel
			
