article.g17
	div
		h3.formTitle Complaint Detail Information <span>(provide as much detail as possible)</span>
		form(novalidate, name="form")
			.formField.text.sing(detail,req)
			.continue
				div(btn, act="Continue")
			portalcancel